#liveramp {

    .website {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;

        @include breakpoint(medium) {
            grid-template-columns: repeat(6, 1fr);

            .div0 { 
                grid-area: 1 / 1 / 2 / 7;
                text-align: center;
                img {
                    display: inline;
                } 
            }
            .div1 { grid-area: 2 / 1 / 3 / 4; }
            .div2 { grid-area: 2 / 4 / 3 / 7; }
            .div3 { grid-area: 3 / 1 / 4 / 4; }
            .div4 { grid-area: 3 / 4 / 4 / 7; }
            .div5 { grid-area: 4 / 1 / 5 / 7; }
            .div6 { grid-area: 5 / 1 / 6 / 3; }
            .div7 { grid-area: 5 / 3 / 6 / 5; }
            .div8 { grid-area: 5 / 5 / 6 / 7; }
            .div9 { grid-area: 6 / 1 / 7 / 4; }
            .div10 { grid-area: 6 / 4 / 7 / 7; }
        }

    }

    h1 {
        @include breakpoint(medium) {
            width: 75%;
        }
        @include breakpoint(large) {
            width: 80%;
        }
    }

    .number {
        color: $primary-color;
        font-size: 2rem;
        font-weight: 900;
    }
        
}