#home {
    
    #sticky-wrapper {
        transition: background-color .3s ease;
        background-color: none;

        &.is-stuck {
            background-color: $white;
        }
    }

    .page_header {
        display: none;
    }

    #hero-bkg-el1 {
        position: absolute;
        top: -244px;
        left: 30%;
        z-index: 1;
        display: none;
        
        /* width: 100%; */
        /* height: auto; */

        @include breakpoint(medium) {
            display: block;
            visibility: hidden;
        }
    }

    img#hero-bkg-el2 {
        position: absolute;
        top: 94px;
        left: -291px;
        z-index: 2;
        display: none;
        visibility: hidden;
        @include breakpoint(xlarge) {
            display: block;
        }
        @include breakpoint(x2large) {
            left: -241px;
        }
    }
}

#welcome-hero {
    

    @include  breakpoint(large) {
        position: relative;
        overflow: hidden;
    }
    
    .section-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        @include breakpoint(medium) {
            grid-template-columns: 1fr 1fr;
        }
    }

    .content {
        // min-height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 20;

        @include breakpoint(large) {
            // min-height: 50vh;
        }

        @include breakpoint(xlarge){
            // min-height: 50vh;
        }


        #title {        
            font-size: 4.25rem;
            font-weight: 700;
            line-height: 4.5rem;
            margin: 0 0 1rem 0;
        }

        #title, #text {
            visibility: hidden;
        }

        #text  {
            // @include breakpoint(medium) {
            //     width: 98%;
            // }
        }

        
    }

}

#hero-img-wrapper {
    #hero-img {
        visibility: hidden;

        @include breakpoint(large) {
            position: absolute;
            max-height: 450px;
            right: -200px;
        }
        
        @include breakpoint(xlarge) {
            right: unset;
        }
    }

}


#documents {
    padding: 2rem 0rem;
    background-color: $light-gray;
    visibility: hidden;

    h4 {
        font-size: 22px;
        font-weight: 700;
        margin: 0 0 1rem 0;
    }

    .doc-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        .doc {
            width: 100%;
            max-width: 286px;
            margin: 0 1rem 0 0;

            a,
            .doc-card {
                color: $medium-gray;
                transition: color .75s ease;
                cursor: pointer;
                
        
                &.disable {
                    pointer-events: none;
                }
        
                img {
                    filter: grayscale(1) opacity(.75);
                    transition: filter .75s ease;
                }
        
                &:hover {
                    color: $primary-color;
        
                    img {
                        filter: grayscale(0) opacity(1);
                    }
                }
            }

        }
    }



}

.reveal {
    video {
        margin: 1rem auto;
    }
}
