// #case-arch {
//   max-width: 1100px;
// }
// .case-arch {
//   .case-card {
//     max-width: 435px;
//     min-width: 330px;
//     .case-img {
//       position: relative;
//       height: 340px;
//       max-width: 435px;
//       min-width: 435px;
//       &:before {
//         transition: all 0.2s ease-in-out;
//         content: "";
//         display: block;
//         position: absolute;
//         left: 0;
//         top: 0;
//         bottom: 0;
//         width: 20px;
//         background: #5ccbf6;
//       }
//     }

//     .arrow {
//       transition: all 0.2s ease-in-out;
//       width: 25px;
//       height: 18px;
//       margin-left: 0;
//       margin-right: 20px;
//       display: inline-block;
//       position: relative;

//       &:before {
//         content: "";
//         position: absolute;
//         width: 100%;
//         height: 1px;
//         background: #02034a;
//         top: 12px;
//         display: block;
//       }

//       &:after {
//         content: "";
//         position: absolute;
//         display: block;
//         width: 8px;
//         height: 8px;
//         transform: rotate(45deg);
//         border-top: 1px solid #02034a;
//         border-right: 1px solid #02034a;
//         right: 1px;
//         top: 8px;
//       }
//     }
//     &:hover {
//       .case-img {
//         &:before {
//           width: 0px;
//         }
//       }
//       .arrow {
//         margin-right: 10px;
//         margin-left: 10px;
//       }
//     }
//   }

//   @media screen and (min-width: 1024px) {
//     .case-cell {
//       &:nth-child(even) {
//         display: flex;
//         // justify-content: flex-end;
//       }
//     }

//     .landscape {
//       .case-card {
//         width: 100%;
//         max-width: 500px;
//         .case-img {
//           width: 100%;
//           height: 375px;
//         }
//       }
//     }

//     .portrait {
//       .case-card {
//         width: 100%;
//         max-width: 375px;
//         .case-img {
//           width: 100%;
//           height: 500px;
//         }
//       }
//     }
//   }
// }

// #title {
//   position: absolute;
//   left: -7%;
//   font-size: 12rem;
//   color: rgb(0, 0, 0, 0.03);
//   font-weight: 700;
//   top: 17%;
// }

.read-more {
  text-align: center;
  .container {
    + .container {
      max-width: 1030px;
    }
  }
}
