// #footer {
//   background-color: $nearlyblack;
//   padding: 4rem 0;
//   background-repeat: no-repeat;
//   background-size: 50%;
//   background-position: bottom right;

//   @include tablet-up {
//     background-position-x: right;
//     background-size: contain;
//   }

//   h2 {
//     font-size: 48px;
//     font-weight: 700;
//     padding: 0 0 1rem 0;
//   }

//   .footer-grid {
//     margin: 2rem 0;
//     display: grid;
//     grid-template-columns: repeat(1, 1fr);

//     @include tablet-up {
//       grid-template-columns: repeat(4, 1fr);
//     }

//     .title {
//       font-size: 16px;
//       font-weight: 700;
//       text-transform: uppercase;
//       line-height: 24px;
//       padding: 0 0 0.75rem 0;
//     }
//     .info {
//       font-size: 16px;
//       font-weight: 100;
//       line-height: 30px;
//     }
//   }
// }

//*****************************
// Footer
//*****************************
$footer-box-size: 800px;
footer {
  background: $nearlyblack;
  height: 652px;
  color: $white;
  margin-top: auto;
  padding: $spacing * 3 $spacing $spacing;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  @include mobile-up {
    padding-top: $spacing * 3;
  }
  @include tablet-up {
    padding: $spacing * 6 0 $spacing * 2;
  }
  &:after {
    content: "";
    background: $white;
    width: 1000px;
    height: 1000px;
    right: 288px;
    top: 45px;
    display: block;
    position: absolute;
    transform: rotate(32.5deg);
    @include mobile-up {
      right: 284px;
      top: 65px;
    }
    @include tablet-up {
      right: -740px;
      top: -660px;
    }
  }
  &:before {
    content: "";
    background: $site-theme;
    width: 1000px;
    height: 1000px;
    right: -742px;
    top: 290px;
    display: block;
    position: absolute;
    transform: rotate(32.5deg);
    @include mobile-up {
      //background: $a6-light;
      right: -758px;
    }
    @include tablet-up {
      right: -410px;
      top: 290px;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      margin: 0;
      a {
        @include ani-2;
        font-family: $header-font;
        @include fluid-type(30px, 36px);
        line-height: 1.1;
        text-decoration: none;
        @include tablet {
          font-size: 28px;
        }
        @include hover-state {
          text-decoration: underline;
        }
      }
    }
  }
  .footer {
    &-enquiries-panel {
      padding: 0 $spacing;
      margin-right: calc(30px - #{$spacing});
      @include mobile {
        text-align: right;
      }
      @include tablet-down {
        width: 100%;
      }
      @include desktop-up {
        margin-right: calc(70px - #{$spacing});
      }
      p {
        @include fluid-type(30px, 36px);
        line-height: 1.1;
        font-family: $header-font-alt;
      }
      a {
        display: inline-block;
        //&[href*="mailto"] {
        @include ani-2;
        display: block;
        @include fluid-type(18px, 26px);
        line-height: 1.1;
        font-family: $header-font-alt;
        text-decoration: none;
        @include mobile {
          font-size: 28px;
        }
        @include hover-state {
          text-decoration: underline;
        }
        // + a {
        //   font-size: 16pz;
        //   line-height: 19px;
        //   text-decoration: none;
        //   position: relative;
        //   padding-right: 30px;
        //   margin-top: 20px;
        //   @include mobile-up {
        //     margin-top: 35px;
        //   }
        //   @include hover-state {
        //     text-decoration: underline;
        //     &:before {
        //       right: -8px;
        //     }
        //     &:after {
        //       right: -6px;
        //     }
        //   }
        //   &:before,
        //   &:after {
        //     content: "";
        //     display: block;
        //     position: absolute;
        //     @include ani-2;
        //   }
        //   &:before {
        //     width: 10px;
        //     height: 10px;
        //     border-right: 1px solid $white;
        //     border-bottom: 1px solid $white;
        //     transform: rotate(-45deg) translateY(-50%);
        //     right: -2px;
        //     top: calc(50% - 2px);
        //   }
        //   &:after {
        //     width: 20px;
        //     height: 1px;
        //     background: $white;
        //     right: 0;
        //     top: calc(50% - 1px);
        //   }
        // }
        //}
      }
    }
    &-address-panel {
      @include tablet-down {
        z-index: 1;
        margin-top: 130px;
        padding: 0 $spacing;
        * {
          color: $black;
        }
      }
      @include mobile-down {
        margin-top: 225px;
      }
      p {
        font-family: $header-font;
        line-height: 1.3;
        z-index: 1;
        position: relative;
        // width: calc(100% - 125px);
        @include fluid-type(30px, 36px);
        @include tablet-down {
          color: $site-theme;
        }
      }
    }
    &-mission-logo {
      position: absolute;
      @include tablet-down {
        bottom: 65px;
        width: 110px;
      }
      right: 30px;
      max-width: 150px;
      z-index: 1;
    }
    &-social-panel {
      margin-top: auto;
      ul {
        @include tablet-up {
          margin-bottom: 60px;
        }

        li {
          @include tablet-down {
            float: left;
            margin-right: 25px;
          }
          a {
            @include tablet-down {
            }
            span {
              display: none;
              @include tablet-up {
                display: block;
              }
            }
            i {
              @include ani-2;
              color: $black;
              z-index: 1;
              position: relative;
              font-size: 26px;
              @include hover-state {
                color: $site-theme;
              }
              @include tablet-up {
                display: none;
              }
            }
          }
        }
      }
    }
    &-additional-panel {
      margin-top: $spacing;
      z-index: 1;
      p {
        position: absolute;
        right: 15px;
        bottom: 5px;
      }
      a {
        color: $a6;
        font-size: 12px;
        text-decoration: none;
        @include hover-state {
          text-decoration: underline;
        }
      }
      @include tablet-up {
        margin-top: 0;
        a {
          color: inherit;
        }
        p {
          position: relative;
          right: 0;
          bottom: 0;
          margin-right: $spacing * 2;
        }
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
  }
  .six {
    width: 148px;
    position: absolute;
    bottom: 152px;
    right: 10px;
    @include mobile-up {
      bottom: 95px;
      right: 30px;
    }
    @include desktop-up {
      bottom: 60px;
      right: 75px;
    }
  }
}
