<div class="social-module">
  <ul class="social-icons">
    <li>
      <a target="_blank" rel="nofollow" href="https://www.facebook.com/April-Six-135367543184325">
        <i class="fab fa-facebook-f"></i>
      </a>
    </li>
    <li>
      <a target="_blank" rel="nofollow" href="https://www.instagram.com/aprilsixglobal/?hl=en">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
    <li>
      <a target="_blank" rel="nofollow" href="https://twitter.com/aprilsixglobal?lang=en">
        <i class="fab fa-twitter"></i>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://www.linkedin.com/company/april-six/">
        <i class="fab fa-linkedin"></i>
      </a>
    </li>
  </ul>
</div>