.flexible-stat-grid {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    margin-bottom: 4rem;
    position: relative;
}
.flexible-statistics {
    overflow: hidden;
    margin-bottom: 5rem; 
}
.flex-img1 {
    grid-area: 1 / 1 / 3 / 2;
    margin-top: 6.1rem;
    &.fullwidth {
        grid-area: 1 / 1 / 3 / 3;
        margin-top: 0;
    }
    &.with-hashtag {
        margin-top: 0;
    }
    .hash {
        font-family: $header-font;
        margin: 3.9rem 0 0 2.3rem;
        // font-size: 50px;
        // line-height: 84px;
        // font-size: 23px;
        // line-height: 39px;
        color: $a6;
        @include fluid-type(23px, 50px);
        @include fluid-line-height(39px, 84px);
        @include desktop-up {
            text-align: right;
            margin: 3.9rem 3.9rem 0 0;
        }
        .technology & {
            color: $technology;
        }
        .mobility & {
            color: $mobility;
        }
        .science & {
            color: $science;
        }
    }
}
.flex-img2 {
    grid-area: 1 / 2 / 3 / 3;
    @include desktop-down {
        margin-top: 10rem;
    }
}
.statistic {
    grid-area: 2 / 1 / 3 / 3;
    width: max-content;
}
.stat-main {
    color: $a6;
    font-family: $black-font;
    font-style: italic;
    @include fluid-type(130px, 264px);
    @include fluid-line-height(90px, 180px);
    letter-spacing: -1.32px;
    .technology & {
        color: $technology;
    }
    .science & {
        color: $science;
    }
    .mobility & {
        color: $mobility;
    }
}
.stat-intro,
.stat-outro {
    @extend .h4;
    color: $black;
}
.stat-outro {
    text-align: right;
}

@media screen and (max-width: 768px) {
    .flexible-statistics {
        margin-bottom: 1rem; 
    }

    .flexible-stat-grid {
        margin-bottom: 1rem;
    }

    .double-content-panel {
        margin-bottom: 1rem;
    }

}