//*****************************
// Mixins
//*****************************

//*****************************
// Breakpoints & Media Queries
//*****************************

$mobile-width: 575px;
$tablet-width: 768px;
$desktop-width: 992px;
$large-desktop-width: 1200px;

@mixin mobile-down {
  @media ( max-width: #{$mobile-width - 1px}) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin mobile-up {
  @media (min-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet-down {
  @media ( max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin tablet-up {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop-down {
  @media ( max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) and (max-width: #{$large-desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop-up {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin large-desktop {
  @media (min-width: #{$large-desktop-width}) {
    @content;
  }
}

// =============================================================================
// Hover states
// =============================================================================

@mixin hover-state {
  &:hover,
  &:active,
  &:focus {
    @content;
  }
}
//usage: @include hover-state { text-decoration: underline; }

@mixin lit-state {
  &.lit,
  &.active,
  &[aria-current] {
    @content;
  }
}
//usage: @include lit-state { background:red; }

@mixin all-states {
  &:hover,
  &:active,
  &:focus,
  &.lit,
  &.active,
  &[aria-current] {
    @content;
  }
}
//usage: @include all-states { background:red; }

//*****************************
// Progress bars
//*****************************
$lowstart: 0;
$lowend: 30;

@for $i from $lowstart through $lowend {
  .progress-bar--#{$i} {
    background: $progress-low;
  }
}

$midstart: $lowend + 1;
$midend: 69;

@for $i from $midstart through $midend {
  .progress-bar--#{$i} {
    background: $progress-mid;
  }
}

$highstart: $midend + 1;
$highend: 100;

@for $i from $highstart through $highend {
  .progress-bar--#{$i} {
    background: $progress-high;
  }
}

//*****************************
// Animations
//*****************************

// @mixin animation($animate...) {
//     $max: length($animate);
//     $animations: "";

//     @for $i from 1 through $max {
//         $animations: #{$animations + nth($animate, $i)};

//         @if $i < $max {
//             $animations: #{$animations + ", "};
//         }
//     }
//     -webkit-animation: $animations;
//     -moz-animation: $animations;
//     -o-animation: $animations;
//     animation: $animations;
// }

// @mixin keyframes($animationName) {
//     @-webkit-keyframes #{$animationName} {
//         @content;
//     }
//     @-moz-keyframes #{$animationName} {
//         @content;
//     }
//     @-o-keyframes #{$animationName} {
//         @content;
//     }
//     @keyframes #{$animationName} {
//         @content;
//     }
// }

// @include keyframes(move-the-object) {
//     0% {
//         width: 0;
//     }
// }

// @include keyframes(prompt-arrow-bounce) {
//     0%,
//     20%,
//     50%,
//     80%,
//     100% {
//         bottom: 2rem;
//     }
//     40% {
//         bottom: 4rem;
//     }
//     60% {
//         bottom: 3rem;
//     }
// }

//*****************************
// Fluid font sizes
//*****************************

//- Mixin: Fluid Type
///
/// Magic calc + vh to allow text to be fluid between minimum
/// and maximum breakpoints.
///
/// @group typography
/// @param {variable} $min-font-size [12px] - Minimum font size
/// @param {variable} $max-font-size [24px] - Maximum font size
/// @param {variable} $lower-range [420px] - Stop scaling font smaller at this screen resolution
/// @param {variable} $upper-range [900px] - Stop scaling font larger at this screen resolution
/// @example
///   h1 {
///     @include responsive-type(20px, 48px);
///   }
/// @site https://madebymike.com.au/writing/precise-control-responsive-typography/

@mixin fluid-type(
  $min-font-size: 12px,
  $max-font-size: 21px,
  $lower-range: 420px,
  $upper-range: 1600px
) {
  font-size: calc(
    #{$min-font-size} + #{(
        ($max-font-size / ($max-font-size * 0 + 1)) -
          ($min-font-size / ($min-font-size * 0 + 1))
      )} * ((100vw - #{$lower-range}) / #{(
            ($upper-range / ($upper-range * 0 + 1)) -
              ($lower-range / ($lower-range * 0 + 1))
          )})
  );

  @media screen and (max-width: $lower-range) {
    font-size: $min-font-size;
  }
  @media screen and (min-width: $upper-range) {
    font-size: $max-font-size;
  }
}
//*****************************
// Fluid line height by Rob Wills, based on above mixin ;)
//*****************************
//- Mixin: Fluid Line Height
///
/// Magic calc + vh to allow line height to be fluid between minimum
/// and maximum breakpoints.
///
/// @group typography
/// @param {variable} $min-line-height [12px] - Minimum line-height
/// @param {variable} $max-line-height [24px] - Maximum line-height
/// @param {variable} $lower-range [420px] - Stop scaling line-height smaller at this screen resolution
/// @param {variable} $upper-range [900px] - Stop scaling line-height larger at this screen resolution
/// @example
///   h1 {
///     @include fluid-line-height(20px, 48px);
///   }

@mixin fluid-line-height(
  $min-line-height: 12px,
  $max-line-height: 100px,
  $lower-range: 420px,
  $upper-range: 1600px
) {
  line-height: calc(
    #{$min-line-height} + #{(
        ($max-line-height / ($max-line-height * 0 + 1)) -
          ($min-line-height / ($min-line-height * 0 + 1))
      )} * ((100vw - #{$lower-range}) / #{(
            ($upper-range / ($upper-range * 0 + 1)) -
              ($lower-range / ($lower-range * 0 + 1))
          )})
  );

  @media screen and (max-width: $lower-range) {
    line-height: $min-line-height;
  }
  @media screen and (min-width: $upper-range) {
    line-height: $max-line-height;
  }
}

//*****************************
// Fluid margin-bottom by Rob Wills, based on above mixin ;)
//*****************************
//- Mixin: Fluid Margin Bottom
///
/// Magic calc + vh to allow bottom margin to be fluid between minimum
/// and maximum breakpoints.
///
/// @group typography
/// @param {variable} $min-margin-bottom [12px] - Minimum margin-bottom
/// @param {variable} $max-margin-bottom [24px] - Maximum margin-bottom
/// @param {variable} $lower-range [420px] - Stop scaling margin smaller at this screen resolution
/// @param {variable} $upper-range [900px] - Stop scaling margin larger at this screen resolution
/// @example
///   h1 {
///     @include fluid-margin-bottom(20px, 48px);
///   }

@mixin fluid-margin-bottom(
  $min-margin-bottom: 12px,
  $max-margin-bottom: 100px,
  $lower-range: 420px,
  $upper-range: 1600px
) {
  margin-bottom: calc(
    #{$min-margin-bottom} + #{(
        ($max-margin-bottom / ($max-margin-bottom * 0 + 1)) -
          ($min-margin-bottom / ($min-margin-bottom * 0 + 1))
      )} * ((100vw - #{$lower-range}) / #{(
            ($upper-range / ($upper-range * 0 + 1)) -
              ($lower-range / ($lower-range * 0 + 1))
          )})
  );

  @media screen and (max-width: $lower-range) {
    margin-bottom: $min-margin-bottom;
  }
  @media screen and (min-width: $upper-range) {
    margin-bottom: $max-margin-bottom;
  }
}

//*****************************
// Fluid padding-left by Rob Wills, based on above mixin ;)
//*****************************
//- Mixin: Fluid Padding Left
///
/// Magic calc + vh to allow bottom margin to be fluid between minimum
/// and maximum breakpoints.
///
/// @group typography
/// @param {variable} $min-padding-left [12px] - Minimum padding-left
/// @param {variable} $max-padding-left [24px] - Maximum padding-left
/// @param {variable} $lower-range [420px] - Stop scaling margin smaller at this screen resolution
/// @param {variable} $upper-range [900px] - Stop scaling margin larger at this screen resolution
/// @example
///   h1 {
///     @include fluid-padding-left(20px, 48px);
///   }

@mixin fluid-padding-left(
  $min-padding-left: 0px,
  $max-padding-left: 100px,
  $lower-range: 420px,
  $upper-range: 1600px
) {
  padding-left: calc(
    #{$min-padding-left} + #{(
        ($max-padding-left / ($max-padding-left * 0 + 1)) -
          ($min-padding-left / ($min-padding-left * 0 + 1))
      )} * ((100vw - #{$lower-range}) / #{(
            ($upper-range / ($upper-range * 0 + 1)) -
              ($lower-range / ($lower-range * 0 + 1))
          )})
  );

  @media screen and (max-width: $lower-range) {
    padding-left: $min-padding-left;
  }
  @media screen and (min-width: $upper-range) {
    padding-left: $max-padding-left;
  }
}

//*****************************
// Fluid padding-top by Rob Wills, based on above mixin ;)
//*****************************
//- Mixin: Fluid Padding Left
///
/// Magic calc + vh to allow bottom margin to be fluid between minimum
/// and maximum breakpoints.
///
/// @group typography
/// @param {variable} $min-padding-top [12px] - Minimum padding-top
/// @param {variable} $max-padding-top [24px] - Maximum padding-top
/// @param {variable} $lower-range [420px] - Stop scaling margin smaller at this screen resolution
/// @param {variable} $upper-range [900px] - Stop scaling margin larger at this screen resolution
/// @example
///   h1 {
///     @include fluid-padding-top(20px, 48px);
///   }

@mixin fluid-padding-top(
  $min-padding-top: 0px,
  $max-padding-top: 100px,
  $lower-range: 420px,
  $upper-range: 1600px
) {
  padding-top: calc(
    #{$min-padding-top} + #{(
        ($max-padding-top / ($max-padding-top * 0 + 1)) -
          ($min-padding-top / ($min-padding-top * 0 + 1))
      )} * ((100vw - #{$lower-range}) / #{(
            ($upper-range / ($upper-range * 0 + 1)) -
              ($lower-range / ($lower-range * 0 + 1))
          )})
  );

  @media screen and (max-width: $lower-range) {
    padding-top: $min-padding-top;
  }
  @media screen and (min-width: $upper-range) {
    padding-top: $max-padding-top;
  }
}

//*****************************
// Fluid padding-bottom by Rob Wills, based on above mixin ;)
//*****************************
//- Mixin: Fluid Padding Left
///
/// Magic calc + vh to allow bottom margin to be fluid between minimum
/// and maximum breakpoints.
///
/// @group typography
/// @param {variable} $min-padding-bottom [12px] - Minimum padding-bottom
/// @param {variable} $max-padding-bottom [24px] - Maximum padding-bottom
/// @param {variable} $lower-range [420px] - Stop scaling margin smaller at this screen resolution
/// @param {variable} $upper-range [900px] - Stop scaling margin larger at this screen resolution
/// @example
///   h1 {
///     @include fluid-padding-bottom(20px, 48px);
///   }

@mixin fluid-padding-bottom(
  $min-padding-bottom: 0px,
  $max-padding-bottom: 100px,
  $lower-range: 420px,
  $upper-range: 1600px
) {
  padding-bottom: calc(
    #{$min-padding-bottom} + #{(
        ($max-padding-bottom / ($max-padding-bottom * 0 + 1)) -
          ($min-padding-bottom / ($min-padding-bottom * 0 + 1))
      )} * ((100vw - #{$lower-range}) / #{(
            ($upper-range / ($upper-range * 0 + 1)) -
              ($lower-range / ($lower-range * 0 + 1))
          )})
  );

  @media screen and (max-width: $lower-range) {
    padding-bottom: $min-padding-bottom;
  }
  @media screen and (min-width: $upper-range) {
    padding-bottom: $max-padding-bottom;
  }
}

//*****************************
// Reset
//*****************************

@mixin zero {
  padding: 0;
  margin: 0;
}
@mixin reset-ul {
  @include zero;
  list-style-type: none;
}

//*****************************
// Visibility
//*****************************

@mixin hidden-visually {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

//*****************************
// Animations
//*****************************\

@mixin ani-1 {
  transition: all 0.1s ease-in-out;
}
@mixin ani-2 {
  transition: all 0.2s ease-in-out;
}
@mixin ani-3 {
  transition: all 0.3s ease-in-out;
}
@mixin ani-4 {
  transition: all 0.4s ease-in-out;
}
@mixin ani-5 {
  transition: all 0.5s ease-in-out;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@include keyframes(kenburns) {
  0%,
  100% {
    transform-origin: center;
    // transform-origin: bottom left;
  }
  50% {
    //transform-origin: bottom center;
    transform: scale(1.2);
  }
}
