//*****************************
// News and Blogs
//*****************************
.article-filters {
  list-style-type: none;
  margin: $spacing * 2 0 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  button {
    // @include ani-2;
    font-family: $header-font;
    font-size: 3.4rem;
    line-height: 4.1rem;
    border: 0;
    outline: 0;
    background: transparent;
    cursor: pointer;
    color: $grey1;
    &.is-checked {
      color: $a6;
    }
    @include hover-state {
      color: $a6;
    }
  }
}
.article-feed {
  margin-top: $spacing * 2;
  .feed-row {
    .no-js & {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0;
    }
    .js & {
      margin: 0 (-$spacing);
    }
  }
  .load-more-articles {
    font-family: $header-font;
    color: $black;
    text-decoration: none;
    font-size: 7rem;
    line-height: 10.1rem;
    @include hover-state {
      text-decoration: underline;
    }
  }
}
.article-tile {
  float: left;
  position: relative;
  // @include ani-2;
  .read-next & {
    width: 100%;
    @include tablet-up {
      width: calc(50% - 30px);
    }
    [class$="_thumbnail"] {
      &:after {
        padding-bottom: 78.06451612903226%;
      }
    }
    + .article-tile {
      @include tablet-down {
        [class$="_thumbnail"] {
          &:after {
            padding-bottom: 126.94444444444444%;
          }
        }
      }
    }
  }

  .article-feed &,
  .the-latest & {
    &:nth-of-type(odd) {
      clear: left;
    }

    &.portrait {
      @extend .col-md-4;
      @extend .offset-md-1;
      //width: 30%;
      [class$="_thumbnail"] {
        &:after {
          padding-bottom: 126.94444444444444%;
        }
      }
    }

    &.landscape {
      @extend .col-md-5;
      @extend .offset-md-1;
      //width: 38.75%;
      [class$="_thumbnail"] {
        &:after {
          padding-bottom: 78.06451612903226%;
        }
      }
    }
  }

  &.featured {
    margin-bottom: 4rem;
    [class$="_thumbnail"] {
      &:after {
        padding-bottom: 56.25%;
      }
    }
  }
  &.technology {
    [class$="_thumbnail"] {
      &:before {
        background: $technology;
      }
    }
  }
  &.science {
    [class$="_thumbnail"] {
      &:before {
        background: $science;
      }
    }
  }
  &.mobility {
    [class$="_thumbnail"] {
      &:before {
        background: $mobility;
      }
    }
  }
  &_thumbnail {
    position: relative;
    background-size: cover;
    background-position: center;
    .technology & {
      background-color: rgba($technology, 0.25);
    }
    .science & {
      background-color: rgba($science, 0.25);
    }
    .mobility & {
      background-color: rgba($mobility, 0.25);
    }
    &:before {
      // @include ani-2;
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 20px;
    }
    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }

  &-content {
    width: 100%;
    padding: 0 0 $spacing * 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  a {
    display: block;
    text-decoration: none;
    img {
      display: block;
      margin-bottom: $spacing;
    }
    @include hover-state {
      .article-title {
        span {
          margin-left: 10px;
          margin-right: 10px;
        }
      }
      [class$="_thumbnail"] {
        &:before {
          width: 0;
        }
      }
    }
  }
  &-categories {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    li {
      margin-right: $spacing/3;
      button {
        color: $grey1;
        // @include ani-2;
        padding: 0;
        font-size: 1.6rem;
        border: 0;
        background: transparent;
        text-transform: lowercase;
      }
      &.News,
      &.Work {
        &.Mobility,
        &.Science,
        &.Technology {
          display: none;
        }
      }
    }
  }
  .article-title {
    color: $black;
    position: relative;
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.6rem;
    margin: $spacing 0 0.7rem;
    span {
      position: relative;
      width: 25px;
      height: 18px;
      margin-left: 0;
      margin-right: 20px;
      display: inline-block;
      &:before,
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 9px;
      }
      &:before {
        width: 100%;
        height: 1px;
        background: $a6;
      }
      &:after {
        width: 8px;
        height: 8px;
        transform: rotate(45deg);
        border-top: 1px solid $a6;
        border-right: 1px solid $a6;
        right: 1px;
        top: 5px;
      }
    }
  }
  .article-published {
    margin: 0 (-$spacing) ($spacing);
    padding: $spacing;
    background: $a6;
    color: $white;
  }
}

.filter-row {
  margin-bottom: 3rem;
  @include desktop-up {
    margin-bottom: 15rem;
  }
  > div {
    margin-bottom: 4rem;
    @include desktop-up {
      margin-bottom: 0;
    }
  }
}

.paging {
  a {
    border: $spacing/3 solid $a6;
    padding: $spacing;
    background: $a6;
    display: inline-block;
    color: $white;
    text-decoration: none;
    width: 50%;
    // @include ani-2;
    h2 {
      color: $white;
    }
    img {
      width: 50%;
    }

    @include hover-state {
      background: $white;
      h2 {
        color: $a6;
      }
    }
  }
  &.paging-next {
    text-align: right;
  }
}
