//*****************************
// Colours
//*****************************
$black: #000000;
$white: #ffffff;
$grey: #ebebeb;
$keyline: #707070;
$nearlyblack: #191919;
$green: #5ea758;
$faded: #eaeaea;
$gold: #d4af37;
$gold-light: lighten($gold, 5%);

$grey1: #9d9d9d;
$grey2: #f5f5f5;

//Theme colours!
$a6: #02034a;
$a6-light: #5ccbf6;
$mobility: #fd2158;
$science: #8820ff;
$technology: $a6-light;
$yellow: #ffca64;

//to make switchable between different sectors
$site-theme: $mobility;

//*****************************
// Progress colours
//*****************************
$progress-low: #d80000;
$progress-mid: #ffd800;
$progress-high: #19d800;

//*****************************
// Sizes
//*****************************
$full-bleed-width: 256rem;
$article-panel-width: 102rem;

//*****************************
// Spacing
//*****************************
$spacing: 15px;

//*****************************
// Fluid font sizes
//*****************************
$h1_font_min_width: 320px;
$h1_font_max_width: 1440px;
$h1_font_min_font: 20px;
$h1_font_max_font: 60px;

//@media (min-width: 1200px) {
.container-xl,
.container-lg,
.container-md,
.container-sm,
.container {
  // max-width: 1230px !important;
  .site-branding &,
  footer &,
  .menu-toggle-wrapper &,
  &.full-width {
    // max-width: $full-bleed-width;
  }
  &.flush {
    padding: 0;
  }
}
