---
layout: "base.njk"
title: "Hello"
descr: Thank you for considering April Six as a potential partner to support your brand effort. We’ve built this online destination to showcase brand campaign case studies, highlight client relevant experience and provide supporting presentation materials. As we get acquainted, this site will serve as your central resource hub for presentation documents and other reference materials. Welcome and enjoy.
herovideo: https://a6-files-repository.s3.eu-west-2.amazonaws.com/pitch/a6-manifesto-video-loop.mp4

documents:
  - header: Our proposal
    title: April Six - Executive Summary
    filename: VWUK_2022_000089_A6_ExecSummary.pdf
    thumbnail: VWUK_2022_000089_A6_ExecSummary.jpg
  - header: ""
    title: April Six - The Challenge
    filename: VWUK_2022_000089_Challenge1&2_A6Resp.pdf
    thumbnail: VWUK_2022_000089_Challenge1&2_A6Resp.jpg
  - header: Latest Win
    title: "New Award: Retailer Campaign of the Year"
    filename: ""
    thumbnail: Award-Image.jpg

clientscarousel:
  - image: Audi
  - image: Allianz
  - image: AVL
  - image: BMW
  - image: Citroen
  - image: DS
  - image: ERCS
  - image: ESA
  - image: Mini
  - image: Motability
  - image: Peugeot
  - image: Porsche
  - image: Scania
  - image: Seat
  - image: Skoda
  - image: Spoticar
  - image: TRL
  - image: Vauxhall
  - image: VW
  - image: VWCV
  - image: Zerova

teamlist:
  - name: Samantha Smith
    jobtitle: Managing Director
    image: Sam
  - name: David Dent
    jobtitle: Planning Director
    image: David
  - name: Lucy Lofthouse
    jobtitle: Finance and Operations Director
    image: Lucy
  - name: Damian Scott
    jobtitle: Creative Director
    image: Damian
  - name: Luke Fowell
    jobtitle: Digital Director
    image: Luke
  - name: Henry Debenham
    jobtitle: Client Services Director
    image: Henry

accreditations:
  - image: ecovadis
    alt: Ecovadis Business Sustainability Ratings
    width: 150
  - image: cyberessentials
    alt: Cyberessentials certified
    width: 100
  - image: IPA
    alt: IPA Continuous Professional Development - Gold
    width: 150
---

<section class="hero-video">
  <video autoplay muted loop playsinline>
    <source src="{{ herovideo }}" type="video/mp4">
  </video>
  <div class="video-wrapper">
    <video autoplay muted loop playsinline>
      <source src="{{ herovideo }}" type="video/mp4">
    </video>
  </div>
</section>

{% if documents %}
  <section id="a6-docs" class="bg-gray-100">
    <div class="container docs-carousel carousel grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      {% for item in documents %}
        <div>
          {% if item.header %}
            <h2>{{ item.header }}</h2>
          {% else %}
            <h2 class="hidden md:block">&nbsp;</h2>
          {% endif %}
          {% if item.filename %}
            <a href="{{'/docs/' | url }}{{ item.filename}}" class="img-txt-link" target="_blank">
              <img src="{{'/docs/' | url }}{{ item.thumbnail}}" alt="{{item.title}} thumbnail" class="">
              <span class="img-txt-link_title">{{item.title}}
                <span></span></span>
            </a>
          {% else %}
            <div class="img-txt-link" target="_blank">
              <img src="{{'/docs/' | url }}{{ item.thumbnail}}" alt="{{item.title}} thumbnail" class="" style="filter: none;">
              <span class="img-txt-link_title">{{item.title}}</span>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </section>
{% endif %}

<section class="what-we-do">
  <div class="container">
    <h2>We’re a particular kind of agency</h2>
    <p>Not just a B2B agency. Or a B2C agency. Nope. Something totally different. Totally specialist. An A to B agency. And the very first, we reckon. Allow us to explain.</p>
    <a class="text-link" href="{{ '/about-us/' | url}}">Read more</a>
  </div>
</section>

<section class="meet-the-team">
  <div class="container">
    <h2>Meet some of the team</h2>
    <p>We’re passionate about mobility. Every one of us. A team of skilled individuals who love nothing better than to help create moments that matter for brands shaping the future of mobility.</p>
    <a class="text-link" href="{{ '/about-us/' | url}}">Learn what makes us tick</a>
    <div class="meet-the-team_carousel carousel">
      {% for item in teamlist %}
        <div class="meet-the-team_team-member">
          <h2>{{item.name}}
            <span>{{item.jobtitle}}</span></h2>
          <img src="{{ '/img/our-team/' | url }}{{ item.image }}@2x.png" alt="{{ item.name }}"/>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="our-clients">
  <div class="container">
    <h2>Our current clients</h2>
    <div class="our-clients_carousel carousel">
      {% for item in clientscarousel %}
        <img src="{{ '/img/clients/' | url }}{{ item.image }}.png" alt="{{ item.image }} logo"/>
      {% endfor %}
    </div>
  </div>
</section>

<section class="case-studies">
  <div class="container">
    <h2>Case studies</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-8">
      {% for post in collections.case %}
        <a href="{{ post.url | url }}" class="img-txt-link square">
          <div class="img-txt-link_img-panel square">
            <div class="img-txt-link_img-panel_inner" style="background:url({{ '/img/case-studies/square/' | url }}{{ post.data.hero }}@2x.jpg)"></div>
          </div>
          <span class="img-txt-link_title">{{ post.data.title }}
            <span></span></span>
        </a>
      {% endfor %}
    </div>
  </div>
</section>

<section class="accreditations">
  <div class="container">
    <h2>Accreditations</h2>
    <div class="flex flex-wrap justify-evenly items-center">
      {% for item in accreditations %}
        <img src="{{ '/img/accreditations/' | url }}{{ item.image }}.png" alt="{{ item.alt }}" width="{{ item.width }}"/>
      {% endfor %}
    </div>
  </div>
</section>

{{ content | safe }}