<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<base href="{{ page.url | url }}">

<meta name="description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}">

<meta name="robots" content="none">
<meta name="googlebot" content="none">
<meta name="google" content="nositelinkssearchbox">
<meta name="google" content="notranslate">
<meta name="generator" content="eleventy">
<meta name="format-detection" content="telephone=no">

{# <link rel="canonical" href="{{ site.url }}{{ page.url }}"> #}

<title>{{ site.title }} + {{ site.client}}
  {% if title %} - {{ title }}
  {% endif %}
</title>

<link rel="author" href="humans.txt">

<link rel="apple-touch-icon" sizes="180x180" href="{{ '/static/favicon/apple-touch-icon.png' | url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/static/favicon/favicon-32x32.png' | url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/static/favicon/favicon-16x16.png' | url }}">
<link rel="manifest" href="{{ '/static/favicon/site.webmanifest' | url }}">
<link rel="mask-icon" href="{{ '/static/favicon/safari-pinned-tab.svg' | url }} color="#5bbad5">
<link rel="shortcut icon" href="{{ '/static/favicon/favicon.ico' | url }}>
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="{{ '/static/favicon/browserconfig.xml' | url }}">
<meta name="theme-color" content="#ffffff">

<!-- Facebook Open Graph meta -->
<meta property="og:url" content="{{ site.url}}{{ page.url }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{% if title %}{{ title }}{% else %}{{ site.title }}{% endif %}">
{% if site.meta_data.default_social_image or featured_image %}
  <meta property="og:image" content="{% if env == 'production' %}{{ site.url }}{% endif %}{% if featured_image  %}{{ featured_image }}{% else %}{{ site.meta_data.default_social_image }}{% endif %}"/>
{% endif %}
<meta property="og:description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}"/>
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:locale" content="en_US">
<meta property="article:author" content="{{ site.author }}">

<!-- Twitter Open Graph meta -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ site.meta_data.twitter }}">
<meta name="twitter:creator" content="{{ site.meta_data.twitter }}">

<!-- disallow Twitter from using your site's info for personalization purposes -->
<meta name="twitter:dnt" content="on">

<!--  Bootstrap 5 CSS  -->
<!-- CSS only -->

{# 
<!-- Google Analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->

<!-- END Google --> #}