<header id="header" class="z-50">
  <section class="container flex justify-between py-4 items-center">
    <div id="logo" class="overflow-hidden">
      <a href="{{'/' | url }}">
        {{ '/src/static/a6-logo.svg' | svgContents | safe }}
      </a>
    </div>
    <div class="nav-wrapper fixed md:relative" id="nav-wrapper">
      <div id="navigation" class="navigation nav flex flex-col md:flex-row  justify-end items-end  md:items-center ">
        {{ collections.all | eleventyNavigation | eleventyNavigationToHtml({
          listElement: "ul",
          listItemElement: "li",
          listClass: "p-0",
          listItemClass: "md:relative md:inline-block px-2",
          listItemHasChildrenClass: "has-child",
          activeListItemClass: "",
          anchorClass: "block py-2 px-4 font-display whitespace-nowrap transition-all duration-400 ease-in ",
          activeAnchorClass: "",
          activeKey: eleventyNavigation.key,
          showExcerpt: false
        }) | safe }}
      </div>
    </div>
    <div class="relative md:hidden " id="nav-icon-wrapper">
      <a class="menu-btn menu-link" href="#menu" id="nav-icon">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>
  </section>
</header>