#cadent {

    .brandId {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;

        @include breakpoint(medium) {
            grid-template-columns: repeat(6, 1fr);

            .div0 { grid-area: 1 / 1 / 2 / 3; }
            .div1 { grid-area: 1 / 3 / 2 / 5; }
            .div2 { grid-area: 1 / 5 / 2 / 7; }
            .div3 { grid-area: 2 / 1 / 3 / 3; }
            .div4 { grid-area: 2 / 3 / 3 / 5; }
            .div5 { grid-area: 2 / 5 / 3 / 7; }
        }

    }

    .brand_executions {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
    }
        
}