.hero-img {
    margin: 1rem 0 2rem 0;
}
        
// NEW CSS for new case studies

.blue-par {
    position: absolute;
    z-index: -1;
    right: -150px;
    top: 10px;
}

.grey-par {
    position: absolute;
    z-index: -1;
    right: -150px;
    top: 10px;
}

.stat {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .number {
        line-height: .65;
    }
}

.stat-1 {
    background-color: #EDF2F4;

    .number {
        color: #5BCBF5;
    }
}

.stat-2 {
    background-color: #E2EAED;
}

.margin-12  {
    margin-bottom: 3rem;
}

.cong-grid-1 {
    grid-template-columns: 3fr 4fr;
}

.cong_stat {
    color: #5BCBF5;
    font-size: 260px;
    font-style: normal;
    font-family: "MaisonNeue-medium";
    letter-spacing: -5px;
    margin-top: 2rem;
}

.cong-quote {
    .person {
        color: #5BCBF5;
    }
}