// .case-study {
.hero {
  min-height: 85vh;
  //@extend .fullwidth;
  position: relative;
  overflow: hidden;
  &-carousel {
    position: relative;
  }
  &-carousel-inner {
    min-height: 50vh;
    // @extend .fullwidth;
    position: relative;
    overflow: hidden;
    &.slick-slider {
      .slick-track,
      .slick-list {
        height: 100% !important;
        display: flex !important;
        position: absolute !important;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      // .slick-slide {
      //   height: inherit !important;
      // }
    }
  }
  &_bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    animation: kenburns 40s ease infinite;
  }

  h1 {
    @include hidden-visually;
  }
}
// }

.the-brief {
  @include fluid-padding-top(40px, 80px);
  @include fluid-padding-bottom(42px, 84px);
  background: $nearlyblack;
  text-align: center;
}
