#new-case-study {
    

    section {
        margin: 1rem 0;
        max-width: 100vw;
        overflow-x: clip;

        @include tablet-up {
            margin: 6rem 0;
        }
    }
    .hero {
        position: relative;
        
        h1 {
            font-size: 70px;
            line-height: 84px;
            width: 100%;
            @include tablet-up {
                width: 60%;
            }

            margin-bottom: 2rem;
            
        }

        p {
            font-size: 32px; 
            line-height: 24px;
        }

    }

    .hero-grid {
        display: grid;
        grid-gap: 2rem;
        
    }

    .a6shape {
        position: absolute;
        z-index: -1;
        bottom: -3%;
        height: 300px;
        width: auto;
        display: none;
            
        @include tablet-up {
            display: block;
        }
    }


    #the-brief {
        
        .brief-grid {
            display: grid;
            grid-gap: 2rem;
            grid-template-columns: 1fr;

            @include tablet-up {
                grid-template-columns: 1fr 2fr;
            }
            &.gif-logo {
                
                @include tablet-up {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }
            }
            
        }
        .title h3 {
            font: normal normal bold 42px/52px Maison Neue;
            letter-spacing: -1.09px;
            @include tablet-up {
                padding: 3rem;
            }
        }

        .content {
            @include tablet-up {
                padding: 3rem;
            }
            p {
                font: 18px/30px Maison Neue ;
                letter-spacing: 0px;
                margin-bottom: 1rem;
            }
        }

        &.our-insight {
            position: relative;

            .a6shape {
                top: -120%;
                left: -25%;
                width: 999px;
                height: 603px;

                display: none;
            
                @include tablet-up {
                    display: block;
                }
            }
        }

       

    }

    .big-center-img {
        padding: 1rem 0;
        
        position: relative;
        .a6shape {
            right: -30%;
            height: 100%;
            display: none;
            
            @include tablet-up {
                display: block;
            }
        }

        @include tablet-up {
            &.overlap-up {
                margin: -12rem 0 4rem 0 !important;
                padding: 0 !important;
            }
        }
    }

    .animation-grid {
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #guide {
        margin-bottom: 6rem;
        .grey-circ {
            position: absolute;
            max-width: 650px;
            top: -250px;
            z-index: -1;
            display: none;

            @include tablet-up {
                display: block;
            }
        }
        .grey-trap {
            position: absolute;
            max-width: 850px;
            bottom: 0px;
            right: -100px;
            z-index: -1;
            display: none;

            @include tablet-up {
                display: block;
            }
        }
    }
    .guideline-grid {
        display:grid;
        // grid-gap: 2rem;
        grid-template-columns: 1fr;
        @include tablet-up{
            grid-template-columns: 1fr 1fr;
        }

        @include desktop-up {
            grid-template-columns: 1fr 1fr 1fr;
        }
        max-width: 1096px;
    }


}