/*--------------------------------------------------------*\
	Team
\*--------------------------------------------------------*/

.header-team {
	@include span-columns(24,24);
	margin-bottom: 1.5rem;
}

.team-ctn {
	@include span-columns(24,24);
	@include squish(0,0);
}

.team-member {
	display: inline-block;
	max-width: 12.5rem;
	text-align: center;
	margin: 0 1rem;
	margin-bottom: 2rem;
	vertical-align: top;
	a {
		color: $grey-dk;
		&:hover {
			color: $orange;
		}
	}
}

.team-member a:hover .team-img {
	border: 0.125rem solid $orange;
}

.team-img {
	@include span-columns(24,24);
	border: 1px solid $grey-lt;
	margin-bottom: 0.5rem;
	@extend .transition;
}

.team-name {
	@include span-columns(24,24);
	@include heading-rg(1.25rem, 1.25);
}

.team-title {
	@include span-columns(24,24);
	@include heading-rg(1rem, 1.25);
}

/*--------------------------------------------------------*\
	Team Modal
\*--------------------------------------------------------*/

.md-team-name {
	@include span-columns(24,24);
	@extend .title;
}

.md-team-bio {
	@include span-columns(20,24);
	@include body-rg(1rem, 1.5);
}

.md-social {
	@include span-columns(24,24);
	margin-top: 3rem;
	li {
		display: inline-block;
		margin-right: 0.5rem;
	}
	svg {
		width: 1.75rem;
		height: 1.75rem;
		path {
			fill: $blue;
			@extend .transition;
		}
	}
	a:hover svg path {
		fill: $orange;
	}
}



