//*****************************
// Visibility
//*****************************

.u-hide-visually {
  @include hidden-visually;
}

.u-hide-mobile {
  @include mobile {
    display: none;
  }
}

.u-hide-mobile-up {
  @include mobile-up {
    display: none;
  }
}

.u-hide-tablet-down {
  @include tablet-down {
    display: none;
  }
}

.u-hide-tablet {
  @include tablet {
    display: none;
  }
}

.u-hide-tablet-up {
  @include tablet-up {
    display: none;
  }
}

.u-hide-desktop-down {
  @include desktop-down {
    display: none;
  }
}

.u-hide-desktop {
  @include desktop {
    display: none;
  }
}

.u-hide-desktop-up {
  @include desktop-up {
    display: none;
  }
}
