#audit {

    .audit-header {
        margin: 4rem 0 0 0;
        .title-desc {
            .title {
                font-size: 48px;
                font-weight: 700;
                margin: 0 0 3px 0;
            }
            .desc {
                width: 70%;
            }
        }
        #audit-header-nav {
            display: flex;
            flex-direction: row;
            background-color: $white;
            // z-index: 9999;
            padding: .75rem 0;
            margin: 0 0 4rem 0;
            z-index: 40;

            .audit-link {
                margin: 0 3rem 0 0;

                .list-group-item {
                    padding: 0 0 .125rem 0;
                    font-weight: 700;
                    font-size: 18px;
                    color: $a6blue;
                    border: none;
    
                    &.active {
                        background-color: unset;
                        background-color: unset;
                        border-bottom: 1px solid;
                    }
                }
            }
        }
    }
    #elements {
        position: relative;
    }
    .element {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 6rem;
        // padding: 0 0 4rem 0;
        // padding-top: 160px; 
        // margin-top: -80px;
        margin: 0 0 8rem 0;

        

        @include tablet-up{
            grid-template-columns: 1fr 2fr;
        }

        .logo {
            margin: 0 0 2rem 0;
        }
        
    }



}

#insights {
    background-color:#F2F5F7;
    margin: 2rem 0 0 0;
    padding: 4rem 0;

    .title-desc {
        // width: 66%;
        margin: 0 0 4rem 0;

        @include tablet-up {
            width: 66%;
        }
    }
    .insights-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 3rem;

        @include tablet-up {
            grid-template-columns: 1fr 1fr 1fr;
        }

        .insight {
            h4 {
                font-size: 20px;
                font-weight: 700;
                color: $black;
            }
        }
    }
}