#clients {
    background-color: $primary-color;
    //  a6 logo
    .six-logo-svg{
        fill: $white; // 6
    }
    .april-logo-svg{
        fill: $white; // April
    }
    // end a6 logo
    .title-bar .menu.submenu li a {
        color: $white !important;
    }

    a {
        &:after {
            border-color: white transparent transparent;
        }
    }

    .is-dropdown-submenu {
        background-color: lighten($color: $primary-color, $amount: 5%);
    }

    .title-bar {
        .menu {
            li {
                a {
                    color: $white;
                }
            }
            &.submenu {
                li {
                    a {
                        color: $black;
                    }
                }
            }
        }
    }
    
    #sticky-wrapper {
        background-color: $primary-color;
    }

    #footer-wrapper {
        .icons,
        .copyright {
            color: $white;
            a {
                color: $white;
            }
        }
    }
}

.clients {

    .logo_wrap {
        visibility: hidden;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .logo {
            max-width: 150px;
        }
    }
}