.quotes {
    .quote {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // padding: 4rem;
        .headshot {
            border-radius: 50%;
            width: 100px; /* width of container */
            height: 100px; /* height of container */
            object-fit: cover;
            object-position: 20% 0px;
            margin: 1rem 0 2rem;
        }
    }
}

.floating-section {
    width: 100vw;
    height: 140vh;
    z-index: -1;
    position: fixed;
    top: -5rem;
    left: 0;
    overflow-x: hidden;
    pointer-events: none;

    &:before {
        content: '';
        display: block;
        background: #5BCCF6;
        position: absolute;
        width: 100vw;
        height: 300vh;
        left: 100vw;
        top: 20vh;
        -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        transform: rotate(30deg);
        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
    }
}