.carousel {
  position: relative;
  font-size: 20px;
  // padding: 110px 2em 130px;
  &.our-clients_carousel {
    .slick-track,
    .slick-list {
      height: 100% !important;
      display: flex !important;
    }
    .slick-track {
      align-items: center;
    }
    .slick-list {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        background: $site-theme;
        background: -moz-linear-gradient(
          90deg,
          rgba(253, 33, 88, 1) 0%,
          rgba(253, 33, 88, 0) 100%
        );
        background: -webkit-linear-gradient(
          90deg,
          rgba(253, 33, 88, 1) 0%,
          rgba(253, 33, 88, 0) 100%
        );
        background: linear-gradient(
          90deg,
          rgba(253, 33, 88, 1) 0%,
          rgba(253, 33, 88, 0) 100%
        );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fd2158",endColorstr="#ffffff",GradientType=1);
        height: 100%;
        left: 0;
        width: 50px;
        z-index: 2;
      }
      &:after {
        content: "";
        position: absolute;
        background: $site-theme;
        background: -moz-linear-gradient(
          90deg,
          rgba(253, 33, 88, 0) 0%,
          rgba(253, 33, 88, 1) 100%
        );
        background: -webkit-linear-gradient(
          90deg,
          rgba(253, 33, 88, 0) 0%,
          rgba(253, 33, 88, 1) 100%
        );
        background: linear-gradient(
          90deg,
          rgba(253, 33, 88, 0) 0%,
          rgba(253, 33, 88, 1) 100%
        );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#fd2158",GradientType=1);
        height: 100%;
        right: 0;
        width: 50px;
        z-index: 2;
      }
    }
    img {
      margin: 0 30px;
      &[src*="BMW"],
      &[src*="Citroen"],
      &[src*="DS"],
      &[src*="Skoda"],
      &[src*="Seat"],
      &[src*="Vauxhall"],
      &[src*="VW"],
      &[src*="Zerova"] {
        -webkit-transform: scale(0.75, 0.75);
        transform: scale(0.75);
      }
    }
  }
  .slick-arrow {
    position: absolute;
    outline: 0;
    top: calc(50% - 0.5em);
    transform: rotate(45deg);
    // background: white;
    text-indent: -100000px;
    width: 1em;
    height: 1em;
    &.slick-prev {
      left: 0;
      border-left: 2px solid $black;
      border-bottom: 2px solid $black;
      .our-clients & {
        border-color: $white;
      }
    }
    &.slick-next {
      right: 0;
      border-right: 2px solid $black;
      border-top: 2px solid $black;
      .our-clients & {
        border-color: $white;
      }
    }
  }
  .slick-dots {
    position: absolute;
    bottom: 85px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    margin-top: 36px;
    li {
      text-indent: -100000px;
      width: 15px;
      height: 15px;
      background: #1c1c1c;
      border-radius: 100%;
      margin: 0 5px;
      cursor: pointer;
      &.slick-active {
        background: $site-theme;
      }
    }
  }
}
