a {
  &.text-link {
    font-size: 20px;
    line-height: 24px;
    @include ani-2;
    font-family: "Maison Neue Bold";
    text-decoration: underline;
    @include hover-state {
      color: $site-theme;
      text-decoration: none;
    }
    .what-we-do & {
      color: $white;
      @include hover-state {
        color: $site-theme;
        text-decoration: none;
      }
    }
  }
}
