#april6 {
  width: 75px;
  @include desktop-up {
    width: 125px;
  }
  @include ani-2;
  .st0 {
    fill: $site-theme;
  }
  .st1 {
    fill: #ffffff;
    .no-hero & {
      fill: $black;
    }
  }
  .scrolled & {
    transform: translate(-76%);
  }
}

// .a6blue-bkg {
//   #april6 {
//     width: 125px;
//     .st0 {
//       fill: #fff;
//     }
//     .st1 {
//       fill: #fff;
//     }
//   }
// }

.doc-img {
  transition: all 0.5s ease;
}
