$maxWidth: 1800px;
.fullwidth {
  margin: 0 auto;
  max-width: $maxWidth;
}

#a6-docs {
  @include fluid-padding-top(25px, 50px);
  // @include fluid-padding-bottom(25px, 50px);
}

.what-we-do {
  background: $black;
  text-align: center;
  @include fluid-padding-top(67px, 135px);
  @include fluid-padding-bottom(50px, 100px);
}

.case-studies {
  background: $black;
  padding-top: 50px;
  // padding-bottom: 177px;
  @include fluid-padding-bottom(53px, 107px);
  // @extend .fullwidth;
}

.our-clients {
  background: $site-theme;
  padding: 50px 0;
  &_carousel {
    padding: 50px 2em 50px;
    &.slick-slider {
      img {
        // padding: 0 2%;
      }
    }
  }
}

.meet-the-team {
  text-align: center;
  // padding: 131px 0 0;
  @include fluid-padding-top(65px, 130px);
  @include fluid-padding-bottom(45px, 90px);
  &_carousel {
    padding: 110px 2em 130px;
  }
  &_team-member {
    background: $grey2;
    padding-top: 30px;
    .meet-the-team_carousel & {
      @include tablet-up {
        margin: 0 15px;
      }
    }
  }
}

.intro {
  text-align: center;
  @include fluid-padding-top(24px, 48px);
  @include fluid-padding-bottom(24px, 48px);
}

.additional-content,
.videos {
  text-align: center;
  @include fluid-padding-top(41px, 82px);
  @include fluid-padding-bottom(40px, 80px);
}

.additional-content {
  &.awards {
    background: $grey;
    img {
      margin: -2em auto 0;
      transform: scale(75%);
    }
  }
}

.videos {
  background: $grey2;
}

.video-panel {
  position: relative;
  margin: 0 -1rem;
  @include tablet-up {
    margin: 0;
  }
  video {
    width: 100%;
  }
  .inner-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    display: flex;
    justify-content: center;
    align-items: center;
    @include fluid-type(85px, 170px);
    cursor: pointer;
    &::before {
      @include ani-2;
      position: absolute;
      content: "";
      background: $site-theme;
      border-radius: 1em;
      display: block;
      width: 1em;
      height: 1em;
    }
    &::after {
      @include ani-2;
      position: absolute;
      content: "";
      font-size: 0.333333em;
      transform: rotate(-90deg);
      border-top: 1em solid white;
      border-right: 0.666em solid transparent;
      border-left: 0.666em solid transparent;
      margin-left: 0.333em;
      display: block;
    }
    @include hover-state {
      &:before {
        background: $white;
      }
      &:after {
        border-top-color: $site-theme;
      }
    }
  }
}

.quote {
  background: $site-theme;
  @include fluid-padding-top(35px, 70px);
  @include fluid-padding-bottom(35px, 70px);
}

.img-txt-link {
  @include fluid-margin-bottom(35px, 70px);
  #a6-docs & {
    @include fluid-margin-bottom(25px, 50px);
  }
  img {
    @include ani-2;
    margin-bottom: 20px;
    width: 100%;
    // @include tablet-up {
    //   -webkit-filter: grayscale(100%);
    //   filter: grayscale(100%);
    // }
  }
  &_img-panel {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    &.square {
      &:after {
        padding-bottom: 100%;
      }
    }
    &_inner {
      @include ani-3;
      background-size: cover !important;
      background-position: center !important;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    &:after {
      content: "";
      display: block;
      width: 100%;
      padding-bottom: 78.888%;
    }
  }
  &_title {
    font-family: "Maison Neue Bold";
    position: relative;
    font-size: 17px;
    line-height: 24px;
    margin-top: 1em;
    strong {
      font-size: 0.75em;
      color: rgba($black, 0.5);
    }
    .case-studies & {
      color: $white;
      align-self: center;
    }
    .read-more & {
      align-self: center;
    }
    span {
      @include ani-2;
      position: relative;
      width: 18px;
      height: 1em;
      margin-left: 5px;
      margin-right: 15px;
      display: inline-block;
      &:before,
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 9px;
      }
      &:before {
        width: 100%;
        height: 1px;
        background: $black;
        .case-studies &,
        .read-more &,
        .videos & {
          background: $site-theme;
        }
      }
      &:after {
        width: 8px;
        height: 8px;
        transform: rotate(45deg);
        border-top: 1px solid $black;
        border-right: 1px solid $black;
        right: 1px;
        top: 5px;
        .case-studies &,
        .read-more &,
        .videos & {
          border-color: $site-theme;
        }
      }
    }
  }
  @include hover-state {
    img {
      box-shadow: 0 0 10px rgba($black, 0.15);
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
      transform: scale(1.01);
      .case-studies & {
        box-shadow: none;
      }
    }
    > div > div {
      transform: scale(1.03);
    }
    > span {
      span {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
}

.read-more {
  padding-top: 30px;
}

.accreditations {
  padding: 50px 0;
  img {
    padding: 20px 0;
  }
  // img {
  //   max-height: 100px;
  // }
}
