// .quarter {
//     &:before {
//         content: "";
//         display: block;
//         position: absolute;
//         width: 20rem;
//         height: 20rem;
//         bottom: -10rem;
//         left: -10rem;
//         background: #5ccbf6;
//         border-radius: 100%;
//         z-index: -1;
//     }
// }