.introduction {
  .introduction-content {
    position: relative;
    margin-bottom: 4rem;
    @include desktop-up {
      margin-bottom: 5rem;
    }
  }
  // + .published-date {
  //     margin-top: -4rem;
  //     @include desktop-up {
  //         margin-top: -7rem;
  //     }
  // }
}
.published-date {
  width: 100%;
  max-width: $article-panel-width;
  margin-left: auto;
  margin-right: auto;
}
.show-in-next-row-panel {
  &.collapsable {
    margin: $spacing (-$spacing/2);
    display: flex;
    flex-wrap: wrap;
    .show-in-next-row-panel-item {
      width: calc(100% - 15px);
      margin: 0 ($spacing/2) $spacing;
      a {
        display: block;
      }
      @include tablet-up {
        width: calc(50% - 15px);
      }
      @include desktop-up {
        width: calc(33.333% - 15px);
      }
      &.inactive {
        .show-in-next-row-panel-item-trigger {
          opacity: 0.5;
        }
      }
      &-header {
        img {
          display: block;
          width: 100%;
        }
      }
      &-content {
        display: none;
      }
    }
  }
  &-reveal-content {
    margin: $spacing $spacing/2;
    width: 100%;
    //padding: $spacing;
  }
}
.full-width-text-panel {
  padding: 0 0 3em 0;
  .single & {
    width: 100%;
    max-width: $article-panel-width;
    margin-left: auto;
    margin-right: auto;
  }
  // @include tablet-down {
  //     text-align: left;
  // }
  @include fluid-type(20px, 28px);
  line-height: 1.5;
}
.full-width-image-panel {
  &:not(.article-image-panel) {
    .single & {
      width: 100%;
      max-width: $article-panel-width;
      margin-left: auto;
      margin-right: auto;
    }
  }
  img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  figcaption {
    margin-top: 1.2rem;
    font-family: $header-font;
    @include fluid-type(18px, 31px);
    line-height: 1.258; //39px at full size
  }
  margin-bottom: 2rem;
  @include desktop-up {
    margin-bottom: 8rem;
  }
  + .published-date {
    @include desktop-up {
      margin-top: -3.4rem;
    }
  }
}
.double-content-panel {
  margin-bottom: 1rem;
  .single & {
    width: 100%;
    max-width: $article-panel-width;
    margin-left: auto;
    margin-right: auto;
  }
  @include desktop-up {
    margin-bottom: 10rem;
    .panel-inner {
      * {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
.read-next {
  .container {
    padding-bottom: 1em;
  }
  background: $grey2;
  h2 {
    padding-top: 0.8em;
    margin-bottom: 3.6rem;
    @include fluid-type(44px, 70px);
    @include fluid-line-height(44px, 101px);
    @include tablet-up {
      margin-bottom: 3rem;
    }
  }
  &-next-previous {
    width: 100%;
    max-width: $article-panel-width;
    margin-left: auto;
    margin-right: auto;
    [class^="col-"] {
      @include tablet-up {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
.specialism-introduction {
  margin-bottom: 6rem;
}
