// #hero {
//     opacity: 1;
//     animation-name: fadeInOpacity;
//     animation-iteration-count: 1;
//     animation-timing-function: ease-in;
//     animation-duration: 1s;
//     z-index: -1;
//     overflow-x: hidden;
//     position: absolute;
//     left: 0;
//     right: 0;
//     top: 0;
//     bottom: 0;
//     display: none;
//     @include desktop-up {
//         display: block;
//     }
//     @keyframes fadeInOpacity {
//         0% {
//             opacity: 0;
//         }
//         100% {
//             opacity: 1;
//         }
//     }

//     .shape-1 {
//         background: $a6blue;
//         width: 600px;
//         height: 7000px;
//         right: 0;
//         z-index: -1;
//         top: -2650px;
//         display: block;
//         position: absolute;
//         transform: rotate(32.5deg);
//         @include desktop-up {
//             right: 0px;
//             top: -2650px;
//         }

//         @include tablet {
//             right: -170px;
//         }
//     }

//     .shape-2 {
//         background: $a6blue;
//         width: 800px;
//         height: 500px;
//         right: -200px;
//         top: -310px;
//         display: block;
//         z-index: -2;
//         position: absolute;
//         transform: rotate(32.5deg);
//         @include desktop-up {
//             right: 60px;
//             top: -400px;
//         }

//         @include tablet {
//             right: -170px;
//             top: -390px;
//         }
//     }

//     .shape-3 {
//         position: absolute;
//         right: 183px;
//         top: 160px;
//         width: 220px;

//         @include tablet {
//             right: 7px;
//             top: 150px;
//         }
//     }
// }

// #home-mobility-ring {
//     position: absolute;
//     left: -1px;
//     top: 28%;
// }

// #specialism-mobility-ring {
//     position: absolute;
//     right: -100px;
//     top: 30%;
//     img {
//         transform: rotate(270deg);
//     }
// }

// #news-mobility-ring {
//     position: absolute;
//     right: -200px;
//     top: 20%;
//     img {
//         transform: rotate(90deg);
//     }
// }

// #mobility-quarter {
//     position: absolute;
//     right: -70px;
//     bottom: 5%;
// }

// #mobility-rectangle {
//     position: absolute;
//     left: -450px;
//     top: 60%;
// }

// #home-science-ring {
//     position: absolute;
//     left: -80px;
//     top: 25%;
// }

// #home-technology-rectangle {
//     img {
//         width: 250px;
//     }
//     position: absolute;
//     right: 0px;
//     bottom: 36%;
//     @include tablet-up {
//         right: -250px;
//         bottom: 10%;
//         img {
//             width: 517px;
//         }
//     }
// }

// #home-science-triangle {
//     position: absolute;
//     right: 0;
//     bottom: 5%;
//     z-index: -1;
// }

// #work-technology-rectangle {
//     position: absolute;
//     right: -100px;
//     top: 0;
//     img {
//         opacity: 1;
//         animation-name: fadeInOpacity;
//         animation-iteration-count: 1;
//         animation-timing-function: ease-in;
//         animation-duration: 1s;
//         @keyframes fadeInOpacity {
//             0% {
//                 opacity: 0;
//             }
//             100% {
//                 opacity: 1;
//             }
//         }
//     }
// }
// .shape {
//     display: none;
//     @include desktop-up {
//         display: block;
//     }
// }
// .shape-triangle {
//     position: absolute;
//     width: 100%;
//     .triangle {
//         font-size: 1vw;
//         display: block;
//         position: absolute;
//         width: 0;
//         right: $spacing;
//         top: 10vh;
//         height: 0;
//         border-top: 27em solid;
//         border-top-color: $a6;
//         border-right: 17.6em solid transparent;
//         border-bottom: 0 solid transparent;
//         border-left: 9em solid transparent;
//     }
//     &.technology {
//         .triangle {
//             border-top-color: $technology;
//         }
//     }
//     &.mobility {
//         .triangle {
//             border-top-color: $mobility;
//         }
//     }
//     &.science {
//         .triangle {
//             border-top-color: $science;
//         }
//     }
// }

// $ringsize: 33.333vw;
// .shape-ring {
//     position: absolute;
//     width: 100%;
//     z-index: -1;
//     .ring {
//         font-size: $ringsize;
//         display: block;
//         width: 1em;
//         height: 1em;
//         position: absolute;
//         right: $spacing + 10;
//         overflow: hidden;
//         @include desktop-down {
//             transform: rotate(-90deg);
//             right: inherit;
//             left: 0;
//             top: 25vh;
//         }
//         &:before {
//             content: "";
//             display: block;
//             position: absolute;
//             top: 0.6578em;
//             left: 0.6578em;
//             background: $white;
//             width: 0.6842em;
//             height: 0.6842em;
//             box-shadow: 0px 0px 0px 0.6578em $a6;
//             border-radius: 100%;
//         }
//     }
//     &.technology {
//         .ring {
//             &:before {
//                 box-shadow: 0px 0px 0px 0.6578em $technology;
//             }
//         }
//     }
//     &.mobility {
//         .ring {
//             &:before {
//                 box-shadow: 0px 0px 0px 0.6578em $mobility;
//             }
//         }
//     }
//     &.science {
//         .ring {
//             &:before {
//                 box-shadow: 0px 0px 0px 0.6578em $science;
//             }
//         }
//     }
// }
// .shape-quarter {
//     position: absolute;
//     width: 100%;
//     z-index: -1;
//     .video-panel &,
//     .full-width-image-panel & {
//         left: -10vw;
//         bottom: -10vw;
//         @include desktop-up {
//             bottom: -100px;
//         }
//     }
//     .quarter {
//         font-size: 20vw;
//         display: block;
//         width: 1em;
//         height: 1em;
//         overflow: hidden;
//         position: absolute;
//         right: 0;
//         .video-panel &,
//         .full-width-image-panel & {
//             right: inherit;
//             left: 0;
//             bottom: 0;
//         }
//         &:before {
//             content: "";
//             display: block;
//             position: absolute;
//             width: 2em;
//             height: 2em;
//             bottom: 0;
//             left: 0;
//             background: $a6blue;
//             border-radius: 100%;
//         }
//     }
//     &.technology,
//     .technology & {
//         .quarter {
//             &:before {
//                 background: $a6blue;
//             }
//         }
//     }
//     &.mobility,
//     .mobility & {
//         .quarter {
//             &:before {
//                 background: $a6blue;
//             }
//         }
//     }
//     &.science,
//     .science & {
//         .quarter {
//             &:before {
//                 background: $a6blue;
//             }
//         }
//     }
// }
// $angle-skew: 21deg;
// .shape-angle {
//     position: absolute;
//     width: 100%;
//     z-index: -1;
//     .flexible-statistics & {
//         // overflow: hidden;
//         top: 0;
//         bottom: 0;
//     }
//     .angle {
//         font-size: 25vw;
//         display: block;
//         width: 1.3em;
//         height: 1em;
//         position: absolute;
//         right: 15rem;
//         top: 7rem;
//         background: $a6blue;
//         //left: 0.7em;
//         transform: skew(-$angle-skew, -$angle-skew) rotate($angle-skew);
//         .flexible-statistics & {
//             right: inherit;
//             width: 55%;
//             left: 9%;
//             top: 0;
//             height: 150vw;
//         }
//     }
//     &.technology,
//     .technology & {
//         .angle {
//             background: $a6blue;
//         }
//     }
//     &.mobility,
//     .mobility & {
//         .angle {
//             background: $mobility;
//         }
//     }
//     &.science,
//     .science & {
//         .angle {
//             background: $science;
//         }
//     }
// }
