@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

// @font-face {
//   font-family: "MaisonNeue-Bold";
//   src: url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-Bold.eot");
//   src: url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-Bold.eot?#iefix")
//       format("embedded-opentype"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-Bold.svg#MaisonNeue-Bold")
//       format("svg"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-Bold.ttf")
//       format("truetype"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-Bold.woff")
//       format("woff"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-Bold.woff2")
//       format("woff2");
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: "MaisonNeue-Book";
//   src: url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-Book.eot");
//   src: url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-Book.eot?#iefix")
//       format("embedded-opentype"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-Book.svg#MaisonNeue-Book")
//       format("svg"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-Book.ttf")
//       format("truetype"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-Book.woff")
//       format("woff"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-Book.woff2")
//       format("woff2");
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: "MaisonNeue-BookItalic";
//   src: url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-BookItalic.eot");
//   src: url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-BookItalic.eot?#iefix")
//       format("embedded-opentype"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-BookItalic.svg#MaisonNeue-BookItalic")
//       format("svg"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-BookItalic.ttf")
//       format("truetype"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-BookItalic.woff")
//       format("woff"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-BookItalic.woff2")
//       format("woff2");
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: "MaisonNeue-DemiBold";
//   src: url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-DemiBold.eot");
//   src: url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-DemiBold.eot?#iefix")
//       format("embedded-opentype"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-DemiBold.svg#MaisonNeue-DemiBold")
//       format("svg"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-DemiBold.ttf")
//       format("truetype"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-DemiBold.woff")
//       format("woff"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-DemiBold.woff2")
//       format("woff2");
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: "MaisonNeue-ExtraBold";
//   src: url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-ExtraBold.eot");
//   src: url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-ExtraBold.eot?#iefix")
//       format("embedded-opentype"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-ExtraBold.svg#MaisonNeue-ExtraBold")
//       format("svg"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-ExtraBold.ttf")
//       format("truetype"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-ExtraBold.woff")
//       format("woff"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-ExtraBold.woff2")
//       format("woff2");
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: "MaisonNeue-DemiBoldItalic";
//   src: url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-DemiBoldItalic.eot");
//   src: url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-DemiBoldItalic.eot?#iefix")
//       format("embedded-opentype"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-DemiBoldItalic.svg#MaisonNeue-DemiBoldItalic")
//       format("svg"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-DemiBoldItalic.ttf")
//       format("truetype"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-DemiBoldItalic.woff")
//       format("woff"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-DemiBoldItalic.woff2")
//       format("woff2");
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: "MaisonNeue-ExtraThin";
//   src: url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-ExtraThin.eot");
//   src: url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-ExtraThin.eot?#iefix")
//       format("embedded-opentype"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-ExtraThin.svg#MaisonNeue-ExtraThin")
//       format("svg"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-ExtraThin.ttf")
//       format("truetype"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-ExtraThin.woff")
//       format("woff"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-ExtraThin.woff2")
//       format("woff2");
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: "MaisonNeue-ExtraBoldItalic";
//   src: url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-ExtraBoldItalic.eot");
//   src: url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-ExtraBoldItalic.eot?#iefix")
//       format("embedded-opentype"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-ExtraBoldItalic.svg#MaisonNeue-ExtraBoldItalic")
//       format("svg"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-ExtraBoldItalic.ttf")
//       format("truetype"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-ExtraBoldItalic.woff")
//       format("woff"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-ExtraBoldItalic.woff2")
//       format("woff2");
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: "MaisonNeue-Light";
//   src: url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-Light.eot");
//   src: url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-Light.eot?#iefix")
//       format("embedded-opentype"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-Light.svg#MaisonNeue-Light")
//       format("svg"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-Light.ttf")
//       format("truetype"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-Light.woff")
//       format("woff"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-Light.woff2")
//       format("woff2");
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: "MaisonNeue-ExtraThinItalic";
//   src: url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-ExtraThinItalic.eot");
//   src: url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-ExtraThinItalic.eot?#iefix")
//       format("embedded-opentype"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-ExtraThinItalic.svg#MaisonNeue-ExtraThinItalic")
//       format("svg"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-ExtraThinItalic.ttf")
//       format("truetype"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-ExtraThinItalic.woff")
//       format("woff"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-ExtraThinItalic.woff2")
//       format("woff2");
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: "MaisonNeue-Medium";
//   src: url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-Medium.eot");
//   src: url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-Medium.eot?#iefix")
//       format("embedded-opentype"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-Medium.svg#MaisonNeue-Medium")
//       format("svg"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-Medium.ttf")
//       format("truetype"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-Medium.woff")
//       format("woff"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-Medium.woff2")
//       format("woff2");
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: "MaisonNeue-LightItalic";
//   src: url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-LightItalic.eot");
//   src: url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-LightItalic.eot?#iefix")
//       format("embedded-opentype"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-LightItalic.svg#MaisonNeue-LightItalic")
//       format("svg"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-LightItalic.ttf")
//       format("truetype"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-LightItalic.woff")
//       format("woff"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-LightItalic.woff2")
//       format("woff2");
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: "MaisonNeue-Thin";
//   src: url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-Thin.eot");
//   src: url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-Thin.eot?#iefix")
//       format("embedded-opentype"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-Thin.svg#MaisonNeue-Thin")
//       format("svg"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-Thin.ttf")
//       format("truetype"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-Thin.woff")
//       format("woff"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-Thin.woff2")
//       format("woff2");
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: "MaisonNeue-MediumItalic";
//   src: url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-MediumItalic.eot");
//   src: url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-MediumItalic.eot?#iefix")
//       format("embedded-opentype"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-MediumItalic.svg#MaisonNeue-MediumItalic")
//       format("svg"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-MediumItalic.ttf")
//       format("truetype"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-MediumItalic.woff")
//       format("woff"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-MediumItalic.woff2")
//       format("woff2");
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: "MaisonNeue-Black";
//   src: url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-Black.eot");
//   src: url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-Black.eot?#iefix")
//       format("embedded-opentype"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-Black.svg#MaisonNeue-Black")
//       format("svg"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-Black.ttf")
//       format("truetype"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-Black.woff")
//       format("woff"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-Black.woff2")
//       format("woff2");
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: "MaisonNeue-ThinItalic";
//   src: url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-ThinItalic.eot");
//   src: url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-ThinItalic.eot?#iefix")
//       format("embedded-opentype"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-ThinItalic.svg#MaisonNeue-ThinItalic")
//       format("svg"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-ThinItalic.ttf")
//       format("truetype"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-ThinItalic.woff")
//       format("woff"),
//     url("https://aprilsix.com/wp-content/themes/april-six/_src/fonts/MaisonNeue-ThinItalic.woff2")
//       format("woff2");
//   font-weight: normal;
//   font-style: normal;
// }

$font: "MaisonNeue-Medium", sans-serif;
$bold-header-font: "MaisonNeue-ExtraBold", sans-serif;
$bold-font-italic: "MaisonNeue-ExtraBoldItalic", sans-serif;

$header-font: "Maison Neue Bold", sans-serif;
$header-font-alt: "Maison Neue Demi Bold", sans-serif;
$header-font-italic: "Maison Neue Demi Bold Italic";
$light-font: "MaisonNeue-Light", sans-serif;
$light-header-font: "MaisonNeue-DemiBold", sans-serif;
$body-font: $font;
$body-font-italic: "MaisonNeue-MediumItalic";
$bold-body-font: $header-font;
$black-font: "MaisonNeue-Black", sans-serif;
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  // color: $black;
  // font-family: $bold-header-font;
  //font-weight: 800;
  letter-spacing: -0.04em;
  // @include ani-2;
  line-height: 1;
  @include zero;
  footer & {
    color: $white;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
p {
  .what-we-do & {
    color: $white;
  }
}

h1,
.h1 {
  font-weight: normal;
  @include fluid-type(44px, 70px);
  @include fluid-line-height(50px, 101px);
  margin-bottom: 0;
  .hero-carousel & {
    position: absolute;
    bottom: 0;
    color: $white;
  }
}

h2,
.h2 {
  @include fluid-type(32px, 40px);
  margin-bottom: 0.375em;
  footer & {
    font-size: 1.6rem;
    line-height: 2rem;
    font-family: $light-header-font;
    margin: 0;
  }
  .case-studies &,
  .our-clients & {
    color: $white;
  }
  .accreditations & {
    text-align: center;
    margin-bottom: 1.5em;
  }
  .intro &,
  .videos & {
    margin-bottom: 0;
    @include fluid-type(40px, 50px);
    line-height: 1.3;
  }
  .additional-content & {
    @include fluid-type(26px, 30px);
    line-height: 1.3;
    margin-bottom: 0.8333333em;
    .aboutus & {
      @include fluid-type(40px, 50px);
      margin-bottom: 0.6em;
    }
  }
  .read-more & {
    @include fluid-type(40px, 50px);
    line-height: 1.3;
    margin-bottom: 1.114em;
  }
  .meet-the-team & {
    @include fluid-type(40px, 50px);
    line-height: 1;
    margin-bottom: 0.6em;
  }
  .meet-the-team_team-member & {
    font-size: 17px;
    line-height: 24px;
    span {
      display: block;
      font-family: $light-font;
      font-weight: normal;
    }
  }
}

h3,
.h3 {
  @include fluid-type(24px, 30px);
  margin-bottom: 0.5em;
  color: $a6;
  .the-brief & {
    color: $white;
    margin-bottom: 0.8333333em;
  }
}

h4,
.h4 {
  @include fluid-type(16px, 24px);
  margin-bottom: 0.5em;
  color: $a6;
}

p {
  margin: 0 0 $spacing;
  strong,
  b {
    font-weight: 800;
    font-family: $black-font;
  }
  footer & {
    margin-bottom: 0;
    // font-family: $header-font;
    font-size: 1.2rem;
    line-height: 1;
  }
  .intro & {
    margin-bottom: 0;
    @include fluid-type(20px, 30px);
    line-height: 1.1;
  }
  .videos & {
    margin-bottom: 2.6666em;
    @include fluid-type(20px, 30px);
    line-height: 1;
  }
  .the-brief &,
  .additional-content &,
  .what-we-do &,
  .meet-the-team & {
    @include fluid-type(16px, 20px);
    line-height: 1.333333;
    max-width: 869px;
    margin: 0 auto 3em;
  }
  .additional-content & {
    + p {
      margin-top: -2em;
    }
  }
  .the-brief & {
    color: $white;
  }
  &.video-name {
    @extend .img-txt-link_title;
    text-align: left;
    + .video-panel {
      margin-top: 75px;
    }
  }
}
blockquote {
  .quote & {
    p {
      color: $white;
      font-family: "Maison Neue Demi Bold Italic", sans-serif;
      @include fluid-type(22px, 40px);
      line-height: calc(1em / 4 * 5);
      margin-bottom: 0;
      text-align: center;
    }
  }
}

ul {
  .footer-additional-panel & {
    display: flex;
    li {
      justify-content: center;
      display: flex;
      flex-direction: column;
      margin-right: 2em;
      img {
        height: 1em;
        @include tablet-down {
          filter: brightness(0) saturate(100%) invert(7%) sepia(58%)
            saturate(4180%) hue-rotate(237deg) brightness(94%) contrast(118%);
        }
      }
    }
  }
}
