$a6blue: #5bccf6;

// april6.com styles
@import "global/_fonts.scss";
@import "a6/variables";
@import "a6/mixins";
@import "a6/grid";
@import "a6/typography";
@import "a6/shapes";
@import "a6/flexible-statistics";
@import "a6/panels";
@import "a6/news_and_blogs";

@import "global/_typography.scss";
@import "global/logo.scss";
@import "global/_shapes.scss";
@import "global/_sections.scss";
@import "global/_clickable.scss";
@import "global/_carousel.scss";
@import "global/_utilities.scss";

@import "comp/_case-study.scss";
@import "comp/_video.scss";
@import "comp/_modaal.scss";

// pages
// @import "pages/page";
@import "pages/case";
// @import "pages/welcome";
@import "pages/quotes";
@import "pages/audit";
// @import "pages/_new-case-study.scss";
// @import "pages/clients";
// @import "pages/footer";
// @import "pages/liveramp";
@import "pages/_case-studies.scss";
@import "comp/_footer.scss";
@import "comp/_socialmodule.scss";
@import "comp/_nav.scss";

// disalbe smooth scroll in bootstrap conflicts with js smooth scroll
body,
* {
  scroll-behavior: unset !important ;
}
//  and disable

body {
  height: 100%;
}

main {
  .no-hero & {
    padding-top: 100px;
  }
}

.a6blue {
  color: $a6blue;
}

.a6blue-bkg {
  background-color: $a6blue;
}

#qtr-circle-gray {
  position: absolute;
  top: -230px;
  left: 30%;
  z-index: 1;
}

#triangle-blue {
  position: absolute;
  left: -247px;
  top: 78px;
  z-index: 2;
}

.has-child {
  > a {
    padding-right: 2em;
    &:after {
      transform: rotate(45deg);
      @include ani-2;
      content: "";
      width: 0.75em;
      height: 0.75em;
      position: absolute;
      //background: $white;
      border-bottom: 2px solid $white;
      border-right: 2px solid $white;
      right: 0.75em;
      .no-hero & {
        border-right-color: $black;
        border-bottom-color: $black;
      }
      // width: 0;
      // height: 0;
      // border: inset 6px;
      // content: "";
      // border-bottom-width: 0;
      // border-top-style: solid;
      // border-color: $white transparent transparent;
      // bottom: 17px;
      // position: absolute;
      // margin-left: 0.5rem;
    }
    // @include hover-state {
    //   &:after {
    //     transform: rotate(225deg);
    //   }
    // }
    @media screen and (max-width: 760px) {
      &:after {
        display: none;
      }
    }
  }
}

.a6blue-bkg {
  .has-child {
    > a {
      &:after {
        border-color: #fff transparent transparent;
      }
    }
  }
}

.bgel {
  @media screen and (max-width: 1268px) {
    display: none;
  }
}
