@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
    h1 {
        @apply text-3xl;
    }
}

@layer utilities {

    .has-child  ul {
        @apply md:invisible absolute;
    }

    .has-child:hover ul {
        @apply visible;
    }

    .container {
        @apply mx-auto max-w-screen-xl px-4 xl:px-0;
    }
}
