---
layout: case-study.njk
client: PERKS
title: PERKS
hero: perks
introtitle: An outstanding trade programme
introsubtitle: Delivering high engagement with PSA Trade Parts

thebrief: Car manufacturers have always struggled to sell their range of parts to the trade, due to the competition generally offering perceived lower prices and faster delivery to local garages for similar products.
thebriefimages:
  - alt: Filteration and braking earn double points
  - alt: Distrigo Parts

additional1heading: Whopping 20% Uplift in Sales
additional1text: Car manufacturers have always struggled to sell their range of parts to the trade, due to the competition generally offering perceived lower prices and faster delivery to local garages for similar products.
additional1image: /img/case-studies/fullwidth/perks/full-width-2@2x.jpg

blockquote: ‘Genuinely innovative and highly effective’

additional2heading: The result
additional2text: By understanding both the customer journey and the lack of marketing opportunities to intercept a purchase, April Six devised and launched a manufacturer-first reward programme. PERKS was designed to create engagement and pre-disposition to phone a PSA Distribution Hub first. A combination of points with every purchase plus competitions for compelling prizes, were delivered via automated, personalised communications.
additional2image: /img/case-studies/fullwidth/perks/full-width-1@2x.jpg

descr:
preview:
locHero:
eleventyExcludeFromCollections: false
date: 2021-01-03

eleventyNavigation:
  key: Perks
  parent: Case Studies
  order: 2

---

<section class="hero">
  <div class="hero_bg" style="background:url({{'/img/case-studies/hero/' | url }}{{ hero }}@2x.jpg)">
    <h1>{{ title }}</h1>
  </div>
</section>

<section class="intro">
  <div class="container">
    <h2>{{ introtitle }}</h2>
    <p>{{ introsubtitle }}</p>
  </div>
</section>

{% if thebrief %}
  <section class="the-brief">
    <div class="container">
      <h3>The brief</h3>
      <p>{{ thebrief }}</p>
    </div>
    <div class="the-brief_images">
      <div class="container">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-8">
          {% for item in thebriefimages %}
            <img class="" src="{{'/img/case-studies/the-brief/perks' | url}}/brief-{{loop.index}}@2x.jpg" alt="{{item.alt}}" style="margin: 0 auto; max-width: 400px;"/>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endif %}

{% if additional1heading %}
  <section class="additional-content">
    <div class="container">
      <h2>{{additional1heading}}</h2>
      <p>{{additional1text}}</p>
      {% if additional1image %}
        <img src="{{ additional1image }}" alt="" style="margin: 0 auto; max-width: 500px;">
      {% endif %}
      {% if additional1video %}
        <div class="video-panel">
          <video controls poster="{{additional1thumbnail}}" type="video/mp4">
            <source src="{{additional1video}}">
            Your browser does not support the video tag.
          </video>
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}

{% if blockquote %}
  <section class="quote">
    <div class="container">
      <blockquote>
        <p>{{ blockquote }}</p>
      </blockquote>
    </div>
  </section>
{% endif %}

{% if additional2heading %}
  <section class="additional-content">
    <div class="container">
      <h2>{{additional2heading}}</h2>
      <p>{{additional2text}}</p>
      {% if additional2image %}
        <img src="{{ additional2image }}" alt="">
      {% endif %}
      {% if additional2video %}
        <div class="video-panel">
          <video controls poster="{{additional2thumbnail}}" type="video/mp4">
            <source src="{{additional2video}}">
            Your browser does not support the video tag.
          </video>
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}

  <section class="additional-content">
    <div class="container">
      <blockquote class="perks-quote">
        <p class="perks-quote-text">“The response to PERKS has been amazing. Internally, Regional Managers, and Parts Distributors are for the first time asking how they can become more involved and are finding it much easier to sell to customers.”</p>
        <p class="perks-quote-attribute">Colin Start, Business Development,<br>Parts and Services UK, PSA Group</p>
      </blockquote>
    </div>
  </section>