---
layout: case-study.njk
client: Stellantis
title: Stellantis Aftersales videos
hero: stellantis
introtitle: PSA Aftersales Films
introsubtitle: Understanding the importance of vehicle maintenance

thebrief: PSA wanted to enhance their customers’ understanding of the importance of carrying out maintenance work on their vehicle. Not only that, but they wanted to communicate why the PSA brands themselves should be the ones to carry out the key work.
briefvideo: https://a6-files-repository.s3.eu-west-2.amazonaws.com/pitch/psa-montage.mp4
briefthumbnail: /video/psa-montage.jpg

additional1heading: A series of short animations
additional1text:
  - text: For Peugeot, Citroën and Vauxhall, we created a series of twelve animations for each brand, with each video focusing on a single type of vehicle service. These ranged from things like tyre and wiper checks, to getting your annual MOT done or popping in for a winter check.
  - text: Through the use of engaging animations, we then told the story of what needs to be done, what can happen if you don’t get it done, and why Peugeot, Citroën and Vauxhall know their customers’ cars better than anyone else – and should therefore be the ones to carry out the work.
  - text: The series of videos featured on the brand websites, national communications and on in-dealership screens.
additional1video: https://a6-files-repository.s3.eu-west-2.amazonaws.com/pitch/citroen-brake-fluid-720.mp4
additional1thumbnail: /video/citroen-brake-fluid.jpg

blockquote: "#mobility"

extra1video: https://a6-files-repository.s3.eu-west-2.amazonaws.com/pitch/vauxhall-service-club-720.mp4
extra1thumbnail: /video/vauxhall-service-club.jpg

extra2video: https://a6-files-repository.s3.eu-west-2.amazonaws.com/pitch/peugeot-braking-720.mp4
extra2thumbnail: /video/peugeot-braking.jpg

descr:
preview:
locHero:
eleventyExcludeFromCollections: false
date: 2021-01-03

eleventyNavigation:
  key: Stellantis
  parent: Case Studies
  order: 3

---

<section class="hero">
  <div class="hero_bg" style="background:url({{'/img/case-studies/hero/' | url }}{{ hero }}@2x.jpg)">
    <h1>{{ title }}</h1>
  </div>
</section>

<section class="intro">
  <div class="container">
    <h2>{{ introtitle }}</h2>
    <p>{{ introsubtitle }}</p>
  </div>
</section>

{% if thebrief %}
  <section class="the-brief">
    <div class="container">
      <h3>The brief</h3>
      <p>{{ thebrief }}</p>
    </div>
    <div class="the-brief_images">
      <div class="container">
        {% if briefvideo %}
          <div class="video-panel">
            <video controls poster="{{briefthumbnail}}" type="video/mp4">
              <source src="{{briefvideo}}">
              Your browser does not support the video tag.
            </video>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endif %}

{% if additional1heading %}
  <section class="additional-content">
    <div class="container">
      <h2>{{additional1heading}}</h2>
      {% for text in additional1text %}
        <p>{{text.text}}</p>
      {% endfor %}
      {% if additional1image %}
        <img src="{{ additional1image }}" alt="" style="margin: 0 auto; max-width: 500px;">
      {% endif %}
      {% if additional1video %}
        <div class="video-panel">
          <video controls poster="{{additional1thumbnail}}" type="video/mp4">
            <source src="{{additional1video}}">
            Your browser does not support the video tag.
          </video>
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}

{% if blockquote %}
  <section class="quote">
    <div class="container">
      <blockquote>
        <p>{{ blockquote }}</p>
      </blockquote>
    </div>
  </section>
{% endif %}

{% if additional2heading %}
  <section class="additional-content">
    <div class="container">
      <h2>{{additional2heading}}</h2>
      <p>{{additional2text}}</p>
      {% if additional2image %}
        <img src="{{ additional2image }}" alt="">
      {% endif %}
      {% if additional2video %}
        <div class="video-panel">
          <video controls poster="{{additional2thumbnail}}" type="video/mp4">
            <source src="{{additional2video}}">
            Your browser does not support the video tag.
          </video>
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}

{% if extra1video %}
  <section class="additional-content">
    <div class="container">
      <div class="video-panel">
        <video controls poster="{{extra1thumbnail}}" type="video/mp4">
          <source src="{{extra1video}}">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </section>
{% endif %}

{% if extra2video %}
  <section class="additional-content">
    <div class="container">
      <div class="video-panel">
        <video controls poster="{{extra2thumbnail}}" type="video/mp4">
          <source src="{{extra2video}}">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </section>
{% endif %}
