---
layout: "base.njk"
title: "Case Studies"
tags: none
url: index.html
eleventyNavigation:
  key: Case Studies
  order: 3
---

<section class="hero-carousel">
  <div class="hero-carousel-inner">
    {%- for post in collections.case -%}
      <div class="hero_bg" style="background:url({{ '/img/case-studies/hero/' | url }}{{ post.data.hero }}@2x.png)"></div>
    {% endfor %}
  </div>
  <div class="container">
    <h1>{{title}}</h1>
  </div>
</section>

<section class="case-studies">
  <div class="container">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-8">
      {% for post in collections.case %}
        <a href="{{ post.url | url}}" class="img-txt-link">
          <div class="img-txt-link_img-panel square">
            <div class="img-txt-link_img-panel_inner" style="background:url({{ '/img/case-studies/square/' | url }}{{ post.data.hero }}@2x.png)"></div>
          </div>
          <span class="img-txt-link_title">{{ post.data.title}}
            <span></span></span>
        </a>
      {% endfor %}
    </div>
  </div>
</section>