---
layout: case-study.njk
client: Motability
title: Motability Everyday Freedom
hero: motability
introtitle: Everyday Freedom
introsubtitle: With the Motability scheme

thebrief: To create Motability’s quarterly marketing assets for 4.500 UK Dealers and deliver them via our Cortex portal with automated personalization of assets for Dealers and editing options.
thebriefimages:
  - alt: Two women shelter under car
  - alt: Two people exercise in the woods
  - alt: Two people with sparklers

additional1heading: Quarterly Campaigns
additional1text: Quarterly creative campaigns are produced, including photography and film. Assets are uploaded and communicated to all Dealers. Assets are delivered in 4 different colour options to fit with the Dealer branding and include Print, DM, HTML templates, Radio, Web-banners and Social Media.
additional1image: /img/case-studies/fullwidth/motability/full-width-1@2x.jpg

blockquote: 7.5 million web page views in May - an all time high!

additional2heading: Everything you need, in one place
additional2text: The portal automatically pulls through the Dealers logo and contact details into assets to personalize them before download. It also offers full reporting capabilities for Motability on number of users, portal usage and assets being used.
additional2thumbnail: /video/motability-video.jpg
additional2video: https://a6-files-repository.s3.eu-west-2.amazonaws.com/pitch/motability-video.mp4

descr:
preview:
locHero:
eleventyExcludeFromCollections: false
date: 2021-01-03

eleventyNavigation:
  key: Motability
  parent: Case Studies
  order: 1

gridImages:
  - img_BG_1.png
  - img_BG_2.png
  - img_BG_3.png
  - img_BG_4.png
  - img_BG_5.png
  - img_BG_6.png
  - img_BG_7.png
  - img_BG_8.png
  - img_BG_9.png
  - img_BG_10.png
  - img_BG_11.png
  - img_BG_12.png
  - img_BG_13.png
  - img_BG_14.png
  - img_BG_15.png
  - img_BG_16.png
  - img_BG_17.png
  - img_BG_18.png
---

<section class="hero">
  <div class="hero_bg" style="background:url({{'/img/case-studies/hero/' | url }}{{ hero }}@2x.png)">
    <h1>{{ title }}</h1>
  </div>
</section>

<section class="intro">
  <div class="container">
    <h2>{{ introtitle }}</h2>
    <p>{{ introsubtitle }}</p>
  </div>
</section>

{% if thebrief %}
  <section class="the-brief">
    <div class="container">
      <h3>The brief</h3>
      <p>{{ thebrief }}</p>
    </div>
    <div class="the-brief_images">
      <div class="container">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-8">
          {% for item in thebriefimages %}
            <img class="" src="{{'/img/case-studies/the-brief/motability' | url}}/brief-{{loop.index}}@2x.jpg" alt="{{item.alt}}"/>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endif %}

{% if additional1heading %}
  <section class="additional-content">
    <div class="container">
      <h2>{{additional1heading}}</h2>
      <p>{{additional1text}}</p>
      {% if additional1image %}
        <img src="{{ additional1image }}" alt="">
      {% endif %}
      {% if additional1video %}
        <div class="video-panel">
          <video controls poster="{{additional1thumbnail}}" type="video/mp4">
            <source src="{{additional1video}}">
            Your browser does not support the video tag.
          </video>
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}

{% if blockquote %}
  <section class="quote">
    <div class="container">
      <blockquote>
        <p>{{ blockquote }}</p>
      </blockquote>
    </div>
  </section>
{% endif %}

{% if additional2heading %}
  <section class="additional-content">
    <div class="container">
      <h2>{{additional2heading}}</h2>
      <p>{{additional2text}}</p>
      {% if additional2image %}
        <img src="{{ additional2image }}" alt="">
      {% endif %}
      {% if additional2video %}
        <div class="video-panel">
          <video controls poster="{{additional2thumbnail}}" type="video/mp4">
            <source src="{{additional2video}}">
            Your browser does not support the video tag.
          </video>
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}