---
layout: case-study.njk
client: Porsche
title: Porsche Centre Marketing
hero: porsche
introtitle: Porsche Centre Marketing
introsubtitle: Working with one of the world’s most prestigious brands

thebrief: To deliver Porsche Centre’s retail experience across the Porsche UK network delivering marketing and assets for all Porsche Centre communication, events, product launches, tactical communication and Centre openings via marketing asset origination, management, reporting and guidance.
thebriefimages:
  - alt: Two women shelter under car
  - alt: Two people exercise in the woods
  - alt: Two people with sparklers

additional1heading: The Playbook
additional1text: This includes communicating with Porsche Centres on an ongoing basis. Brand governance of all Porsche Centre marketing. Creating and setting best practice guidance. Creating and delivering Porsche Centre marketing assets. Event and guest management via our portal. Annual planning, quarterly reviews and reporting.
additional1thumbnail: /video/porsche-video.jpg
additional1video: https://a6-files-repository.s3.eu-west-2.amazonaws.com/pitch/porsche-video.mp4

blockquote: 54 live projects and 325 centre requests in the first 4 months

additional2heading: All the extras
additional2text: We also deliver Porsche CRM and Porsche Approved Pre-Owned strategy and programmes, Porsche Experience Events, Porsche Classic Register and Porsche Classic communications. With everything that we do we are constantly looking at how we can create the future Porsche Experience.
additional2image: /img/case-studies/fullwidth/porche/full-width-1@2x.jpg

descr: Elevating the power of tech positioning for Firebrick
preview: firebrick/hero@2x.png
locHero: firebrick/hero@2x.png
eleventyExcludeFromCollections: false
date: 2021-01-03

eleventyNavigation:
  key: Porsche
  parent: Case Studies
  order: 3

gridImages:
  - img_BG_1.png
  - img_BG_2.png
  - img_BG_3.png
  - img_BG_4.png
  - img_BG_5.png
  - img_BG_6.png
  - img_BG_7.png
  - img_BG_8.png
  - img_BG_9.png
  - img_BG_10.png
  - img_BG_11.png
  - img_BG_12.png
  - img_BG_13.png
  - img_BG_14.png
  - img_BG_15.png
  - img_BG_16.png
  - img_BG_17.png
  - img_BG_18.png
---

<section class="hero">
  <div class="hero_bg" style="background:url({{'/img/case-studies/hero/' | url }}{{ hero }}@2x.png)">
    <h1>{{ title }}</h1>
  </div>
</section>

<section class="intro">
  <div class="container">
    <h2>{{ introtitle }}</h2>
    <p>{{ introsubtitle }}</p>
  </div>
</section>

{% if thebrief %}
  <section class="the-brief">
    <div class="container">
      <h3>The brief</h3>
      <p>{{ thebrief }}</p>
    </div>
    <div class="the-brief_images">
      <div class="container">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-8">
          {% for item in thebriefimages %}
            <img class="" src="{{'/img/case-studies/the-brief/' | url}}{{hero}}/brief-{{loop.index}}@2x.jpg" alt="{{item.alt}}"/>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endif %}

{% if additional1heading %}
  <section class="additional-content">
    <div class="container">
      <h2>{{additional1heading}}</h2>
      <p>{{additional1text}}</p>
      {% if additional1image %}
        <img src="{{ additional1image }}" alt="">
      {% endif %}
      {% if additional1video %}
        <div class="video-panel">
          <video controls poster="{{additional1thumbnail}}" type="video/mp4">
            <source src="{{additional1video}}">
            Your browser does not support the video tag.
          </video>
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}

{% if blockquote %}
  <section class="quote">
    <div class="container">
      <blockquote>
        <p>{{ blockquote }}</p>
      </blockquote>
    </div>
  </section>
{% endif %}

{% if additional2heading %}
  <section class="additional-content">
    <div class="container">
      <h2>{{additional2heading}}</h2>
      <p>{{additional2text}}</p>
      {% if additional2image %}
        <img src="{{ additional2image }}" alt="">
      {% endif %}
      {% if additional2video %}
        <div class="video-panel">
          <video controls poster="{{additional2thumbnail}}" type="video/mp4">
            <source src="{{additional2video}}">
            Your browser does not support the video tag.
          </video>
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}