---
layout: case-study.njk
client: Scania
title: Scania V8 Truck Launch
hero: scania
introtitle: V-Breathtaking
introsubtitle: The very best of everything

thebrief: We needed to command the attention of Scania’s current V8 owners and drivers, as well the wider haulage industry. In normal times, Scania would have staged a live event, invited customers to witness the unveiling of the new truck, experienced it, and sealed the deal with a handshake.
thebriefimages:
  - alt: Two women shelter under car
  - alt: Two people exercise in the woods
  - alt: Two people with sparklers

additional1heading: At the heart of Scania’s business
additional1text: V8 sits at the heart of Scania’s business and is representative of Scania’s premium position within the market. The all-new V8 was an opportunity to maintain Scania’s market position as the number one brand in HGV trucks.
additional1image: /img/case-studies/fullwidth/scania/full-width-1@2x.jpg

blockquote: The long awaited 770hp V8 – all sixteen limited editions sell out six hours from launch

additional2heading: Live and kicking
additional2text: We simulated a theatrical live event which ran as the launch film on the website and YouTube. Even though customers weren’t able to see the new truck physically, we wanted them to witness the arrival of something truly momentous.
additional2thumbnail: /video/scania-video.jpg
additional2video: /video/scania-video.mp4

additional3heading: Awards
additional3image: /img/case-studies/drum-marketing-awards.png

descr: Elevating the power of tech positioning for Firebrick
preview: firebrick/hero@2x.png
locHero: firebrick/hero@2x.png
eleventyExcludeFromCollections: false
date: 2021-01-03

eleventyNavigation:
  key: Scania
  parent: Case Studies
  order: 2

gridImages:
    - img_BG_1.png
    - img_BG_2.png
    - img_BG_3.png
    - img_BG_4.png
    - img_BG_5.png
    - img_BG_6.png
    - img_BG_7.png
    - img_BG_8.png
    - img_BG_9.png
    - img_BG_10.png
    - img_BG_11.png
    - img_BG_12.png
    - img_BG_13.png
    - img_BG_14.png
    - img_BG_15.png
    - img_BG_16.png
    - img_BG_17.png
    - img_BG_18.png
---

<section class="hero">
  <div class="hero_bg" style="background:url({{'/img/case-studies/hero/' | url }}{{ hero }}@2x.png)">
    <h1>{{ title }}</h1>
  </div>
</section>

<section class="intro">
  <div class="container">
    <h2>{{ introtitle }}</h2>
    <p>{{ introsubtitle }}</p>
  </div>
</section>

{% if thebrief %}
  <section class="the-brief">
    <div class="container">
      <h3>The brief</h3>
      <p>{{ thebrief }}</p>
    </div>
    <div class="the-brief_images">
      <div class="container">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-8">
          {% for item in thebriefimages %}
            <img class="" src="{{'/img/case-studies/the-brief/' | url}}{{hero}}/brief-{{loop.index}}@2x.jpg" alt="{{item.alt}}"/>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endif %}

{% if additional1heading %}
  <section class="additional-content">
    <div class="container">
      <h2>{{additional1heading}}</h2>
      <p>{{additional1text}}</p>
      {% if additional1image %}
        <img src="{{ additional1image }}" alt="">
      {% endif %}
      {% if additional1video %}
        <div class="video-panel">
          <video controls poster="{{additional1thumbnail}}" type="video/mp4">
            <source src="{{additional1video}}">
            Your browser does not support the video tag.
          </video>
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}

{% if blockquote %}
  <section class="quote">
    <div class="container">
      <blockquote>
        <p>{{ blockquote }}</p>
      </blockquote>
    </div>
  </section>
{% endif %}

{% if additional2heading %}
  <section class="additional-content">
    <div class="container">
      <h2>{{additional2heading}}</h2>
      <p>{{additional2text}}</p>
      {% if additional2image %}
        <img src="{{ additional2image }}" alt="">
      {% endif %}
      {% if additional2video %}
        <div class="video-panel">
          <video controls poster="{{additional2thumbnail}}" type="video/mp4">
            <source src="{{additional2video}}">
            Your browser does not support the video tag.
          </video>
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}

{% if additional3heading %}
  <section class="additional-content awards">
    <div class="container">
      <h2>{{additional3heading}}</h2>
      <p>The Drum Marketing Awards 2021</p>
      <p>
        <strong>Winner: B2B</strong>
      </p>
      {% if additional3image %}
        <img src="{{ additional3image }}" alt="The Drum Marketing Awards 2021 logo">
      {% endif %}
    </div>
  </section>
{% endif %}