@font-face {
  font-family: "Maison Neue Bold";
  src: url("../fonts/MaisonNeue-Bold.eot");
  src: url("../fonts/MaisonNeue-Bold.eot") format("embedded-opentype"),
    url("../fonts/MaisonNeue-Bold.woff") format("woff"),
    url("../fonts/MaisonNeue-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Maison Neue Demi Bold";
  src: url("../fonts/MaisonNeue-DemiBold.eot");
  src: url("../fonts/MaisonNeue-DemiBold.eot") format("embedded-opentype"),
    url("../fonts/MaisonNeue-DemiBold.woff") format("woff"),
    url("../fonts/MaisonNeue-DemiBold.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Maison Neue Demi Bold Italic";
  src: url("../fonts/MaisonNeue-DemiBoldItalic.eot");
  src: url("../fonts/MaisonNeue-DemiBoldItalic.eot") format("embedded-opentype"),
    url("../fonts/MaisonNeue-DemiBoldItalic.woff") format("woff"),
    url("../fonts/MaisonNeue-DemiBoldItalic.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Maison Neue Medium";
  src: url("../fonts/MaisonNeue-Medium.eot");
  src: url("../fonts/MaisonNeue-Medium.eot") format("embedded-opentype"),
    url("../fonts/MaisonNeue-Medium.woff") format("woff"),
    url("../fonts/MaisonNeue-Medium.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Maison Neue Light";
  src: url("../fonts/MaisonNeue-Light.eot");
  src: url("../fonts/MaisonNeue-Light.eot") format("embedded-opentype"),
    url("../fonts/MaisonNeue-Light.woff") format("woff"),
    url("../fonts/MaisonNeue-Light.ttf") format("truetype");
  font-weight: 400;
}
