---
title: Oops! Not Found
permalink: 404.html
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
  </head>
  <body>
    <h1>{{ title }}</h1>
    <p>
      This is where you should tell the user how to find their content. Maybe on the <a href="{{ "/" | url }}">home page?</a>
    </p>
  </body>
</html>