<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.njk" %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ '/js/modaal.js' | url }}"></script>
    <link rel="stylesheet" href="{{'/css/tailwind.css' | url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{{'/css/main.css' | url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JSVGGSC7ZJ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-JSVGGSC7ZJ');
    </script>
  </head>
  <body class="antialiased transition-all duration-500 {% if bodyClass %}{{ bodyClass}}{% endif %}">
    {% include "header.njk" %}

    <main id="content">
      {{ content | safe }}
    </main>

    {% include "footer.njk" %}
    {% include "socialmodule.njk" %}

    <script src="{{ '/js/gsap/gsap.min.js' | url }}"></script>
    <script src="{{ '/js/gsap/ScrollToPlugin.min.js' | url}}"></script>
    <script src="{{ '/js/gsap/ScrollTrigger.min.js' | url}}"></script>
    <script src="{{ '/js/gsap/CSSRulePlugin.min.js' | url}}"></script>
    <script src="{{ '/js/bs/bootstrap.js' | url}}"></script>
    <script src="{{ '/js/app.js' | url }}"></script>
  </body>
</html>