---
layout: base
pageID: case-study
tags: case
---

<section class="{{ pageID }}">
  {{ content | safe }}
</section>

{# Count the case studies for the next / prev section (to show first / last if no next or prev is available) #}
{% set totalCaseStudies = -1 %}
{# so first item is zero #}
{% for case in collections.case %}
  {% set totalCaseStudies = totalCaseStudies + 1 %}
{% endfor %}
{# Set first and last #}
{% set firstPost = collections.case[0] %}
{% set lastPost = collections.case[totalCaseStudies] %}
{# Get next and previous #}
{% set previousPost = collections.case | getPreviousCollectionItem(page) %}
{% set nextPost = collections.case | getNextCollectionItem(page) %}

{% if totalCaseStudies > 0 %}
  <section class="read-more">
    <div class="container">
      <h2>More of our work</h2>
    </div>
    <div class="container grid grid-cols-1 md:grid-cols-2 gap-4">
      {% if previousPost %}
        <a href="{{ previousPost.url | url }}" class="img-txt-link">
          <div class="img-txt-link_img-panel">
            <div class="img-txt-link_img-panel_inner" style="background:url({{ '/img/case-studies/square/' | url }}{{ previousPost.data.hero }}@2x.jpg)"></div>
          </div>
          <span class="img-txt-link_title">{{ previousPost.data.title }}
            <span></span></span>
        </a>
      {% elseif (totalCaseStudies >= 2)  %}
        {# show the last only if there's more than 2 in total otherwise other page will be included in the nav twice (for prev and next) #}
        <a href="{{ lastPost.url | url }}" class="img-txt-link">
          <div class="img-txt-link_img-panel">
            <div class="img-txt-link_img-panel_inner" style="background:url({{ '/img/case-studies/square/' | url }}{{ lastPost.data.hero }}@2x.jpg)"></div>
          </div>
          <span class="img-txt-link_title">{{ lastPost.data.title }}
            <span></span></span>
        </a>
      {% endif %}
      {% if nextPost %}
        <a href="{{ nextPost.url | url }}" class="img-txt-link">
          <div class="img-txt-link_img-panel">
            <div class="img-txt-link_img-panel_inner" style="background:url({{ '/img/case-studies/square/' | url }}{{ nextPost.data.hero }}@2x.jpg)"></div>
          </div>
          <span class="img-txt-link_title">{{ nextPost.data.title }}
            <span></span></span>
        </a>
      {% elseif (totalCaseStudies >= 2) %}
        {# show the first only if there's more than 2 in total otherwise other page will be included in the nav twice (for prev and next) #}
        <a href="{{ firstPost.url | url }}" class="img-txt-link">
          <div class="img-txt-link_img-panel">
            <div class="img-txt-link_img-panel_inner" style="background:url({{ '/img/case-studies/square/' | url }}{{ firstPost.data.hero }}@2x.jpg)"></div>
          </div>
          <span class="img-txt-link_title">{{ firstPost.data.title }}
            <span></span></span>
        </a>
      {% endif %}
    </div>
  </section>
{% endif %}