---
layout: "base.njk"
title: About us
bodyClass: aboutus
hero: about-us
herovideo: https://a6-files-repository.s3.eu-west-2.amazonaws.com/pitch/a6-brand-video.mp4

threecolimages:
  - alt: People working in the barn
  - alt: A company social
  - alt: A company BBQ

teamlist:
  - name: Samantha Smith
    jobtitle: Managing Director
    image: Sam
  - name: David Dent
    jobtitle: Planning Director
    image: David
  - name: Lucy Lofthouse
    jobtitle: Finance and Operations Director
    image: Lucy
  - name: Damian Scott
    jobtitle: Creative Director
    image: Damian
  - name: Luke Fowell
    jobtitle: Digital Director
    image: Luke
  - name: Henry Debenham
    jobtitle: Client Services Director
    image: Henry

eleventyNavigation:
  key: About Us
  parent:
  order: 1
---

<section class="hero-video">
  <video autoplay muted loop playsinline>
    <source src="{{ herovideo }}" type="video/mp4">
    Your browser does not support the video tag.
    </video>
  <div class="video-wrapper">
    <video autoplay muted loop playsinline>
      <source src="{{ herovideo }}" type="video/mp4">
    Your browser does not support the video tag.
    </video>
  </div>
</section>

<section class="additional-content">
  <div class="container">
    <h2>So why an A to B agency?</h2>
    <p>Well, A is a great place. But human beings can’t resist leaving it and heading over to B. And they also can’t help inventing new ways of doing it. Doing it better. Doing it cleaner. Doing it faster. And even doing it more enjoyably. And the world needs an agency to tell everyone about these cool new things. And to get them excited about them.</p>
    <p>And that’s what April Six do.</p>
    <p>Humans are having to change the way they move around this beautiful, precious, fragile planet. And change always needs ‘selling’. By bright, expert people committed to making a difference. People who use the latest data, the most informed strategic planning and emotionally intelligent creativity, to ‘sell’ the future of mobility.</p>
    <p>You see, we’re not talking about a human race. We’re talking about a human journey. And April Six are helping our clients and their customers make that journey.</p>
    <p>From A to…well, you know where.</p>
  </div>
</section>

{% if threecolimages %}
  <section class="column-images">
    <div class="container grid grid-cols-1 md:grid-cols-3 gap-4 lg:gap-8">
      {% for item in threecolimages %}
        <img class="" src="{{'/img/' | url}}{{hero}}{{'/three-col/three-col-'}}{{loop.index}}@2x.jpg" alt="{{item.alt}}"/>
      {% endfor %}
    </div>
  </section>
{% endif %}

<section class="meet-the-team">
  <div class="container">
    <h2>Meet some of the team</h2>
    <p>Our whole team ethos is built on three key values – being curious, being fearless and being one. Together, as a diverse and galvanised group, we ask the questions others don’t dare to, and boldly produce the solutions other can’t get to. We call it making moments that matter. And we can do it for you.</p>
  </div>
  <div class="container grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-8">
    {% for item in teamlist %}
      <div class="meet-the-team_team-member">
        <h2>{{item.name}}
          <span>{{item.jobtitle}}</span></h2>
        <img src="{{'/img/our-team/' | url }}{{ item.image}}@2x.png" alt="{{item.name}}"/>
      </div>
    {% endfor %}
  </div>
</section>