---
layout: "base.njk"
bodyClass: no-hero documents
title: Proposal Documents
subtitle: April Six want to thank you again for the opportunity to share our proposal in response to the Stellantis UK Retailer Marketing Tender. We hope our proposal is of interest and you enjoy reading it as much as we enjoyed working on it.

documents:
  - title: Retailer Marketing Proposal - 05/11/21
    filename: /docs/StellantisProposalDocument.pdf
    thumbnail: /docs/StellantisProposalDocument.jpg
  - title: Retailer Marketing Pitch Presentation - 17/03/22
    filename: /docs/April Six - Stellantis Retailer Marketing Pitch Presentation -  17th March 2022 Final.pptx
    thumbnail: /docs/introPage.jpg

videosintro: A selection of videos to give you a little more insight into the way we work, our purpose and an introduction to Cortex our Retailer Marketing Portal. Grab a drink and enjoy.

videos:
  - name: Stellantis pitch
    thumbnail: /video/pitch-video.jpg
    filename: https://a6-files-repository.s3.eu-west-2.amazonaws.com/pitch/pitch-video.mp4
  - name: About us
    thumbnail: /video/a6-brand-video.jpg
    filename: https://a6-files-repository.s3.eu-west-2.amazonaws.com/pitch/a6-brand-video.mp4
  - name: A walkthrough demo of Cortex Territory
    thumbnail: /video/cortex-demo-video.jpg
    filename: https://a6-files-repository.s3.eu-west-2.amazonaws.com/pitch/cortex-demo-video.mp4
  - name: An Introduction To Cortex Territory
    thumbnail: /video/cortex-intro-video.jpg
    filename: https://a6-files-repository.s3.eu-west-2.amazonaws.com/pitch/cortex-intro-video.mp4

eleventyNavigation:
  key: Our Proposal
  parent:
  order: 2
---
<section class="intro">
  <div class="container">
    <h1>{{ title }}</h1>
    <p class="subhead">{{ subtitle }}</p>
  </div>
</section>

{% if documents %}
  <section id="a6-docs">
    <div class="container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 place-content-center">
      {% for item in documents %}
        <a href="{{ item.filename }}" class="img-txt-link" target="_blank">
          <img src="{{ item.thumbnail }}" alt="{{ item.title }} thumbnail" class="">
          <span class="img-txt-link_title">{{ item.title }}
            <span></span></span>
        </a>
      {% endfor %}
    </div>
  </section>
{% endif %}

{% if videos %}
  <section class="videos">
    <div class="container">
      <h2>Videos</h2>
      <p class="subhead">{{ videosintro }}</p>
    </div>
    <div class="container">
      {% for item in videos %}
        <div class="video-panel">
          <video controls poster="{{ item.thumbnail }}" type="video/mp4">
            <source src="{{ item.filename }}">
            Your browser does not support the video tag.
          </video>
        </div>
        <p class="video-name">{{ item.name }}
          <span></span></p>
      {% endfor %}
    </div>
  </section>
{% endif %}