#nav-icon-wrapper {
  @include tablet-down {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 250;
  }
}

#nav-icon {
  width: 30px;
  height: 20px;
  display: block;
  // position: absolute;
  top: 30px;
  right: 40px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: $white;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    .no-hero & {
      background: $black;
    }
    .active & {
      background: $black;
      &:nth-child(1) {
        transform: rotate(45deg);
        top: -3px;
        left: 8px;
      }
      &:nth-child(2) {
        width: 0%;
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
        top: 19px;
        left: 8px;
      }
    }
    &:nth-child(1) {
      top: 0px;
      transform-origin: left center;
    }
    &:nth-child(2) {
      top: 8px;
      transform-origin: left center;
    }
    &:nth-child(3) {
      top: 16px;
      transform-origin: left center;
    }
  }
}

.navigation {
  ul {
    // width: 40vw;
    @include tablet-up {
      width: unset;
    }
  }
}
.navigation-overlay {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba($black, 0.75);
  z-index: 40;
  @include tablet-up {
    display: none !important;
  }
}
@include tablet-down {
  #nav-wrapper {
    box-shadow: 0 0 10px black;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 62px;
    height: 100vh;
    background-color: white;
    //width: 80%;
    z-index: 200;
    transform: translate(100%);
    transition: all 0.5s ease;
    display: none;
    &.open {
      transform: translate(0);
      display: block;
    }
    .navigation {
      ul {
        li {
          ul {
            position: relative;
          }
        }
      }
    }
  }
}

// Nav color

#header {
  // background-color: #000000;
  @include ani-2;
  background: none;
  position: fixed;
  top: 0;
  // left: 50%;
  // @extend .fullwidth;
  width: 100vw;
  // transform: translateX(-50%);
  .scrolled body:not(.no-hero) & {
    background: $nearlyblack;
  }
  .scrolled body.no-hero & {
    background: $white;
  }
}

#navigation {
  ul {
    li {
      ul {
        @include ani-2;
        background-color: none;
        // .scrolled & {
        @include tablet-up {
          html.scrolled body:not(.no-hero) & {
            background: $nearlyblack;
          }

          html.scrolled body.no-hero & {
            background: $white;
          }
        }
        // }
        li {
          padding: 0;
          a {
            // color: $site-theme;
            @include ani-2;
            // @include hover-state {
            //   color: $black;
            // }
          }
        }
      }
    }
    a {
      @include tablet-up {
        color: $white;
        text-shadow: 0 0 10px rgba($black, 0.333333);
      }

      width: 100%;

      .no-hero & {
        color: $black;
        text-shadow: none;
      }
      @include hover-state {
        color: $site-theme;
      }
      // &.a6blue {
      //   color: $a6blue;
      // }
    }
  }
}

.a6blue-bkg {
  #header {
    background-color: #5bcbf5 !important;

    .a6blue {
      color: white;
    }
  }
  #navigation {
    background-color: #5bcbf5;
    ul {
      background-color: #5bcbf5;
      a {
        color: #fff;
        width: 100%;
      }
    }
  }
}
