$spacing: 15px;

.social-module {
  display: none;
  // @include ani-5;
  // position: fixed;
  // right: $spacing;
  // bottom: 15px;
  @include tablet-up {
    z-index: 10;
    display: block;
    @include ani-5;
    position: fixed;
    bottom: 15px;
    right: $spacing * 2;
  }
  @include desktop-up {
    bottom: 150px;
  }
  @include large-desktop {
    right: $spacing * 3;
  }
  &.offscreen {
    right: -20vw;
  }
  .social-icons {
    @include mobile-down {
      display: none;
    }
    list-style: none;
    li {
      margin: 1.6rem 0;
      text-align: center;
      @include hover-state {
        i {
          color: $site-theme;
        }
      }
      i {
        @include ani-2;
        font-size: 1.7em;
        color: $white;
        text-align: center;
        text-shadow: 0 0 5px rgba($black, 0.25);
      }
    }
  }
}
