.hero-video {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  > video {
    position: absolute;
    width: 120vw;
    .cssfilters:not(.backdropfilter) & {
      filter: blur(10px);
      transform: scale(1.5);
    }
    + .video-wrapper {
      background: none;
      z-index: 2;
      .sound-control {
        background: rgba($white, 0.75);
        text-transform: uppercase;
        position: absolute;
        line-height: 1;
        bottom: 0;
        right: 0;
        // padding: 1em;
        width: 2.5em;
        height: 2.5em;
        @include hover-state {
          background: rgba($black, 0.75);
          color: $white;
        }
        span {
          @include hidden-visually;
        }
        font-size: 1.5em;
        &[data-muted="true"] {
          .fa-volume-up {
            display: none;
          }
        }
        &[data-muted="false"] {
          .fa-volume-mute {
            display: none;
          }
        }
      }
    }
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    .backdropfilter & {
      backdrop-filter: blur(10px); /* apply the blur */
    }

    // .no-cssfilters &,
    // .no-backdropfilter:not(.cssfilters) & {
    background: rgba($black, 0.5);
    // }
  }
}
.video-wrapper {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $black;
  // @extend .fullwidth;
  max-width: 1300px;
  @include tablet-up {
    // height: 35vw;
    // max-height: 85vh;
  }
  flex-direction: column;
  video {
    // max-width: 1200px;
    width: 100%;
    max-height: 100vh;
    //min-height: 100%;
  }

  // .video-panel_overlay {
  //     position: absolute;
  //     top: 0;
  // }

  // .play-trigger {
  //     position: absolute;
  //     top: 50%;
  //     left: 50%;
  //     color: white;
  //     font-size: 2rem;
  //     font-weight: 700;
  //     background-color: #5ccbf6;
  //     border-radius: 50%;
  //     width: 10rem;
  //     height: 10rem;
  //     transform: translate(-50%, -50%);
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     cursor: pointer;
  //     transition: color .5s ease;

  //     .text {
  //         transition: transform .5s ease;
  //     }

  //     &:hover {
  //         color:  #5ccbf6;
  //         background-color: white;
  //         .text {
  //             transform: rotate(360deg);
  //         }
  //     }
  // }
}
