<footer>
  <div class="container">
    <div class="row">
      <div class="footer-enquiries-panel">
        <h2>Further questions</h2>
        <p>{{site.contact.name}}</p>
        <a href="mailto:{{site.contact.email}}">{{site.contact.email}}</a>
        <a href="tel:{{site.contact.phonelink}}">{{site.contact.phone}}</a>
      </div>
      <div class="footer-address-panel">
        <h2>Address</h2>
        <p>{{ site.contact.address | safe}}</p>
      </div>
      <a title="Part of Mission" target="_blank" href="https://www.aprilsix.com/mission/">
        <img class="footer-mission-logo u-hide-tablet-down" src="{{ '/img/a6-logos/logo-mission.png' | url }}" alt="Part of Mission">
        <img class="footer-mission-logo u-hide-tablet-up" src="{{ '/img/a6-logos/logo-mission-white.png' | url }}" alt="Part of Mission">
      </a>
    </div>
    <div class="row footer-social-panel">
      <div class="col">
        <ul>
          <li>
            <a href="https://www.facebook.com/pages/category/Marketing-Agency/April-Six-135367543184325/">
              <span>Facebook</span>
              <i class="fab fa-facebook-f" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/aprilsixglobal/">
              <span>Instagram</span>
              <i class="fab fa-instagram" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/AprilSixGlobal">
              <span>Twitter</span>
              <i class="fab fa-twitter" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/april-six/">
              <span>LinkedIn</span>
              <i class="fab fa-linkedin" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col footer-additional-panel">
        <p>©April 6 <span id="copyright-year">{{ helpers.currentYear() }}</span></p>
      </div>
    </div>
  </div>
  <img class="six" src="{{ '/img/a6-logos/6.png' | url }}" alt="6">
  <script>document.getElementById("copyright-year").innerHTML = new Date().getFullYear()</script>
</footer>